---
title: Speak up
description: Voice a few words and another reason to appreciate custom elements.
date: 2024-06-04
---

<script>
	import './text-to-speech.js';
</script>

<text-to-speech>HTML</text-to-speech> is a markup language.

```html
<text-to-speech>HTML</text-to-speech> is a markup language.
```

<text-to-speech speech="Application programming interface">API</text-to-speech>.
