.hljs-comment {
  color: hsl(227, 14%, 32%);
}

.hljs-keyword,
.hljs-subst,
.hljs-tag {
  color: hsl(197, 100%, 77%);
}

.hljs-string {
  color: hsl(84, 66%, 73%);
}

.hljs-regexp,
.hljs-number,
.hljs-selector-id {
  color: hsl(14, 90%, 70%);
}

.hljs-function,
.hljs-attr,
.hljs-selector-pseudo,
.hljs-selector-attr,
.hljs-meta-keyword {
  color: hsl(276, 68%, 75%);
}

.hljs-built_in {
  color: hsl(221, 100%, 75%);
}

.hljs-selector-tag,
.hljs-selector-class {
  color: hsl(39, 100%, 71%);
}

.hljs-name,
.hljs-meta {
  color: hsl(357, 81%, 69%);
}

.hljs-attribute {
  color: hsl(197, 31%, 77%);
}
.hljs-params {
  color: hsl(231, 28%, 73%);
}
