---
title: Infinite loop
description: Safely animate shapes over a certain amount of time.
date: 2024-02-01
---

<script>
	import Loop from './Loop.svelte';
	import Time from './Time.svelte';
</script>

<figure class="[ center-frame ]">
	<Loop />
</figure>

<Time />
