body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#skip-to-content {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  color: hsl(215, 10%, 97%);
  color: var(--grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  box-shadow: 0 0 0.5rem -0.4rem hsl(215, 22%, 5%);
  box-shadow: 0 0 0.5rem -0.4rem var(--grey-0);
  display: flex;
  align-items: center;
  z-index: 10;
}

#skip-to-content svg {
  width: 1em;
  height: auto;
  margin-left: 0.5rem;
}

.navigation {
  max-width: 40rem;
  width: 90vw;
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

.navigation > *:last-child {
  margin-left: auto;
  flex-shrink: 0;
}

.navigation nav > * + * {
  margin-left: 0.3rem;
}

.navigation nav a {
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 0;
  display: inline-flex;
  align-items: center;
}

.navigation nav a svg {
  margin-left: 0.3rem;
  width: 1.5em;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) .navigation nav a {
    font-weight: 600;
  }
}

body[data-preference='dark'] .navigation nav a {
  font-weight: 600;
}

.navigation button {
  width: 2rem;
  height: 2rem;
  color: inherit;
  background: none;
  border-radius: 50%;
  border: 0.2rem solid currentColor;
  padding: 0;
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
}

.navigation button svg {
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.navigation button:not(:disabled):focus {
  outline: 0.15rem dashed currentColor;
}

.navigation button:not(:disabled):hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) .navigation button svg .rotate {
    transform: rotate(180deg);
  }

  body:not([data-preference]) .navigation button svg .scale {
    transform: scaleX(-1);
  }
}

body[data-preference='dark'] .navigation button svg .rotate {
  transform: rotate(180deg);
}

body[data-preference='dark'] .navigation button svg .scale {
  transform: scaleX(-1);
}

body[data-transition] .navigation button svg .rotate {
  transition: transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform var(--transition-duration) var(--ease-in-out-sine);
}

body[data-transition] .navigation button svg .scale {
  transition: transform 0.25s step-end;
  transition: transform var(--transition-duration) step-end;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  color: hsl(215, 10%, 97%);
  color: var(--frappe-grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
  background-position: 0 98%;
  background-position: 0 calc(100% - 5px);
  position: relative;
}

header {
  font-size: 1.6rem;
  font-size: calc(1.25rem + (1.6 - 1.25) * (100vw - 40rem) / (75 - 40));
}

@media (min-width: 75rem) {
  header {
    font-size: 1.6rem;
  }
}

@media (max-width: 40rem) {
  header {
    font-size: 1.25rem;
  }
}

header::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 20px;
  transform: translateY(-1px) scaleY(-1);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
  background-position: 0px 4px;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="25 -20 100 40"%3E%3Cg fill="currentColor" stroke="none"%3E%3Cpath d="M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0" /%3E%3C/g%3E%3C/svg%3E');
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="25 -20 100 40"%3E%3Cg fill="currentColor" stroke="none"%3E%3Cpath d="M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0" /%3E%3C/g%3E%3C/svg%3E');
  -webkit-mask-size: 100px 40px;
  mask-size: 100px 40px;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
}

header > svg {
  order: -1;
  width: 20em;
  max-width: 90vw;
  height: auto;
  margin: 1em;
  --transition-duration: 0.4s;
}

header > svg .borntofrappe {
  transition: transform 0.4s cubic-bezier(0.68, -0.5, 0.265, 1.55),
    color 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform var(--transition-duration) var(--ease-in-out-back),
    color var(--transition-duration) var(--ease-in-out-sine);
}

header > svg .borntofrappe:hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  transform: scale(1.25) rotate(-10deg);
}

header > svg a {
  transition: transform 0.4s cubic-bezier(0.68, -0.5, 0.265, 1.55),
    color 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform var(--transition-duration) var(--ease-in-out-back),
    color var(--transition-duration) var(--ease-in-out-sine);
  transform: scale(0.85);
}

header > svg a .text {
  transform: scale(0);
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform var(--transition-duration) var(--ease-out-cubic);
}

header > svg a:hover,
header > svg a:focus,
header > svg a:hover .text,
header > svg a:focus .text {
  transform: scale(1);
}

header > svg a:focus {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  outline: none;
}

header div > * + * {
  margin-top: 1.25rem;
}

header div {
  margin: 0 1em;
  position: relative;
  padding-bottom: 50px;
}

header div::after {
  z-index: 20;
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="150" height="150"%3E%3Cg stroke-linecap="round" stroke-linejoin="round" stroke-width="2"%3E%3Cg fill="hsl(215, 10%25, 97%25)" stroke="none"%3E%3Cpath d="M 20 -2.5 c 10 -5 15 5 5 10 a 8 8 0 0 0 -5 -10" /%3E%3Cpath transform="scale(-1 1)" d="M 20 -2.5 c 10 -5 15 5 5 10 a 8 8 0 0 0 -5 -10" /%3E%3Cpath d="M 20 41.5 c 2.5 10 -10 10 -16 -5 a 16 16 0 0 0 16 5" /%3E%3Cpath transform="scale(-1 1)" d="M 20 41.5 c 2.5 10 -10 10 -16 -5 a 16 16 0 0 0 16 5" /%3E%3C/g%3E%3Cg stroke="none"%3E%3Ccircle fill="none" r="25" cy="-24"/%3E%3Cg fill="hsl(215, 10%25, 97%25)"%3E%3Cpath d="M 23 -30 a 7.5 7.5 0 0 1 0 14 18 18 0 0 0 0 -14"/%3E%3Cpath transform="scale(-1 1)" d="M 23 -30 a 7.5 7.5 0 0 1 0 14 18 18 0 0 0 0 -14"/%3E%3Cpath d="M -25 -24 a 25 25 0 0 1 50 0 26 26 0 0 0 -50 0" /%3E%3Cpath d="M -25 -24 a 25 25 0 0 0 50 0 25.2 25.2 0 0 1 -50 0" /%3E%3Cpath d="M -8 -35 a 12.5 12.5 0 0 0 5 27.5 27.5 27.5 0 0 1 -5 -27.5" /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  position: absolute;
  top: 100%;
  right: 0%;
  margin-top: -50px;
  transform: rotate(30deg);
  animation: rotate-astronaut 100s var(--ease-in-out-sine) alternate infinite;
  animation: rotate-astronaut 100s cubic-bezier(0.445, 0.05, 0.55, 0.95)
    alternate infinite;
  animation-play-state: paused;
}

header div h1 {
  color: inherit;
}

header div p {
  font-size: 0.8em;
  line-height: 1.75;
}

header.observed div::after {
  animation-play-state: running;
}

@keyframes rotate-astronaut {
  to {
    transform: rotate(-30deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  header.observed div::after {
    animation-play-state: paused;
  }
}

@supports (mask-image: url()) or (-webkit-mask-image: url()) {
  a.relative {
    --transition-duration: 0.4s;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 0.75em;
    margin: 1em 0;
    z-index: 5;
  }

  a.relative:focus {
    outline: none;
  }

  a.relative::before,
  a.relative::after {
    pointer-events: none;
    z-index: -5;
    content: '';
    position: absolute;
    top: 100%;
    background: currentColor;
    transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: transform var(--transition-duration) var(--ease-in-out-sine);
  }

  a.relative::before {
    left: 0%;
    width: 100%;
    height: 2px;
    transform-origin: 0% 50%;
    transform: translate(0%, -50%) scaleX(0);
  }

  a.relative:hover::before,
  a.relative:focus::before {
    transform: translate(0%, -50%) scaleX(1);
  }

  a.relative::after {
    left: 50%;
    width: 100%;
    height: 1.7em;
    transform: translate(-50%, -50%);
    mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg transform="scale(0.8)"%3E%3Cg fill="none" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round"%3E%3Cg transform="rotate(90)"%3E%3Cpath stroke-width="8" d="M -0 -46 q 23 15 23 52 v 10 a 8 8 0 0 1 -8 8 h -30 a 8 8 0 0 1 -8 -8 v -10 q 0 -37 23 -52" /%3E%3Cg stroke-width="7"%3E%3Cpath d="M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21" /%3E%3Cpath transform="scale(-1 1)" d="M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21" /%3E%3Cpath d="M 0 24 c -10 5 -12 16 0 22.5 c 12 -6.5 10 -17.5 0 -22.5" /%3E%3Ccircle r="9" cy="-11" /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg transform="scale(0.8)"%3E%3Cg fill="none" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round"%3E%3Cg transform="rotate(90)"%3E%3Cpath stroke-width="8" d="M -0 -46 q 23 15 23 52 v 10 a 8 8 0 0 1 -8 8 h -30 a 8 8 0 0 1 -8 -8 v -10 q 0 -37 23 -52" /%3E%3Cg stroke-width="7"%3E%3Cpath d="M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21" /%3E%3Cpath transform="scale(-1 1)" d="M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21" /%3E%3Cpath d="M 0 24 c -10 5 -12 16 0 22.5 c 12 -6.5 10 -17.5 0 -22.5" /%3E%3Ccircle r="9" cy="-11" /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }

  a.relative:hover::after,
  a.relative:focus::after {
    transform: translate(50%, -50%);
  }
}

main {
  font-size: 1.2rem;
  font-size: calc(1rem + (1.2 - 1) * (100vw - 40rem) / (75 - 40));
}

@media (min-width: 75rem) {
  main {
    font-size: 1.2rem;
  }
}

@media (max-width: 40rem) {
  main {
    font-size: 1rem;
  }
}

main {
  overflow-x: hidden;
}

article {
  width: 90vw;
  max-width: 40rem;
  margin: 5em auto;
}

article + article {
  position: relative;
}

article + article::before {
  content: '';
  position: absolute;
  margin-bottom: 1.5em;
  bottom: 100%;
  left: 50%;
  width: 100vw;
  height: 0.5rem;
  transform: translate(-50%, -50%);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
}

@supports ((mask-image: url()) or (-webkit-mask-image: url())) {
  article + article {
    margin-top: 7em;
  }

  article + article::before {
    margin-bottom: initial;
    height: 3.25em;
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="25 -20 100 40"%3E%3Cg fill="currentColor" stroke="none"%3E%3Cpath d="M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0" /%3E%3C/g%3E%3C/svg%3E');
    mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="25 -20 100 40"%3E%3Cg fill="currentColor" stroke="none"%3E%3Cpath d="M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0" /%3E%3C/g%3E%3C/svg%3E');
    -webkit-mask-size: auto 2.5em;
    mask-size: auto 2.5em;
    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
  }
}

article > * + * {
  margin-top: 0.4em;
}

article p:first-of-type {
  margin-top: 1em;
}

article h2 {
  font-size: 1.8em;
}

article p {
  font-size: 1em;
  line-height: 1.75;
}

article#getting-started {
  position: relative;
}

article#getting-started::before {
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="hsl(339, 90%25, 67%25)" stroke="hsl(350, 100%25, 8%25)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath stroke-dasharray="84 20 84" d="M 0 -2 v 4 l 24 36 a 4 4 0 0 1 -8 8 l -16 -24 -16 24 a 4 4 0 0 1 -8 -8 l 24 -36" /%3E%3Cpath d="M 5 19 v 24 a 5 5 0 0 1 -10 0 v -24" /%3E%3Cpath d="M 0 -2 a 8 8 0 0 1 0 -16 8 8 0 0 1 0 16" /%3E%3C/g%3E%3C/svg%3E');
  width: 6.5em;
  height: 6.5em;
  background: none;
  float: left;
  padding: 1.5rem;
  padding-left: 0;
  shape-outside: circle();
}

article#getting-started::after {
  position: absolute;
  left: -0.75rem;
  top: 0.75rem;
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-76 -33 100 100"%3E%3Cg fill="hsl(336, 93%25, 77%25)" stroke="hsl(350, 100%25, 8%25)" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath stroke-width="5" transform="translate(-63 0) scale(0.4)" d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cpath stroke-width="3.6" transform="translate(-51 0) scale(0.55)" d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cpath stroke-width="3" transform="translate(-37 0) scale(0.65)" d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cpath stroke-width="2.5" transform="translate(-20 0) scale(0.8)" d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cg stroke-width="2"%3E%3Cpath d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cpath d="M 12 -14 a 15 15 0 0 1 0 28" /%3E%3Cpath fill="none" stroke-width="3" stroke-dasharray="0 8 12 20" transform="translate(12 0) scale(0.65)" d="M 0 -14 a 15 15 0 0 1 0 28" /%3E%3Crect fill="hsl(339, 90%25, 67%25)" y="-17" width="12" height="34" rx="6" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  width: 6.5em;
  height: 6.5em;
  transform: rotate(-20deg);
  transform-origin: 50% 33%;
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) article#getting-started::before {
    content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="hsl(210, 90%25, 62%25)" stroke="hsl(220, 100%25, 8%25)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath stroke-dasharray="84 20 84" d="M 0 -2 v 4 l 24 36 a 4 4 0 0 1 -8 8 l -16 -24 -16 24 a 4 4 0 0 1 -8 -8 l 24 -36" /%3E%3Cpath d="M 5 19 v 24 a 5 5 0 0 1 -10 0 v -24" /%3E%3Cpath d="M 0 -2 a 8 8 0 0 1 0 -16 8 8 0 0 1 0 16" /%3E%3C/g%3E%3C/svg%3E');
  }

  body:not([data-preference]) article#getting-started::after {
    content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-76 -33 100 100"%3E%3Cg fill="hsl(208, 95%25, 75%25)" stroke="hsl(220, 100%25, 8%25)" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath stroke-width="5" transform="translate(-63 0) scale(0.4)" d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cpath stroke-width="3.6" transform="translate(-51 0) scale(0.55)" d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cpath stroke-width="3" transform="translate(-37 0) scale(0.65)" d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cpath stroke-width="2.5" transform="translate(-20 0) scale(0.8)" d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cg stroke-width="2"%3E%3Cpath d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cpath d="M 12 -14 a 15 15 0 0 1 0 28" /%3E%3Cpath fill="none" stroke-width="3" stroke-dasharray="0 8 12 20" transform="translate(12 0) scale(0.65)" d="M 0 -14 a 15 15 0 0 1 0 28" /%3E%3Crect fill="hsl(210, 90%25, 62%25)" y="-17" width="12" height="34" rx="6" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  }
}

body[data-preference='dark'] article#getting-started::before {
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="hsl(210, 90%25, 62%25)" stroke="hsl(220, 100%25, 8%25)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath stroke-dasharray="84 20 84" d="M 0 -2 v 4 l 24 36 a 4 4 0 0 1 -8 8 l -16 -24 -16 24 a 4 4 0 0 1 -8 -8 l 24 -36" /%3E%3Cpath d="M 5 19 v 24 a 5 5 0 0 1 -10 0 v -24" /%3E%3Cpath d="M 0 -2 a 8 8 0 0 1 0 -16 8 8 0 0 1 0 16" /%3E%3C/g%3E%3C/svg%3E');
}

body[data-preference='dark'] article#getting-started::after {
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-76 -33 100 100"%3E%3Cg fill="hsl(208, 95%25, 75%25)" stroke="hsl(220, 100%25, 8%25)" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath stroke-width="5" transform="translate(-63 0) scale(0.4)" d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cpath stroke-width="3.6" transform="translate(-51 0) scale(0.55)" d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cpath stroke-width="3" transform="translate(-37 0) scale(0.65)" d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cpath stroke-width="2.5" transform="translate(-20 0) scale(0.8)" d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cg stroke-width="2"%3E%3Cpath d="M 0 -13 l -20 1 v 24 l 20 1" /%3E%3Cpath d="M 12 -14 a 15 15 0 0 1 0 28" /%3E%3Cpath fill="none" stroke-width="3" stroke-dasharray="0 8 12 20" transform="translate(12 0) scale(0.65)" d="M 0 -14 a 15 15 0 0 1 0 28" /%3E%3Crect fill="hsl(210, 90%25, 62%25)" y="-17" width="12" height="34" rx="6" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

article#getting-started::after {
  animation: tilt 10s ease-in-out infinite alternate;
  animation-play-state: paused;
}

article#getting-started.observed::after {
  animation-play-state: running;
}

@keyframes tilt {
  20%,
  100% {
    transform: rotate(25deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  article.observed::after {
    animation-play-state: paused;
  }
}

article#about {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  --elevation: 2em;
}

article#about p:first-of-type {
  margin-top: 2em;
  margin-top: var(--elevation);
}

article#about h2 {
  text-align: center;
}

article#about mark {
  color: inherit;
  background: none;
  font-weight: 700;
  position: relative;
  z-index: 5;
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) article#about mark {
    font-weight: 600;
  }
}

body[data-preference='dark'] article#about mark {
  font-weight: 600;
}

article#about mark::after {
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg stroke="hsl(350, 100%25, 8%25)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"%3E%3Cellipse fill="hsl(339, 90%25, 67%25)" rx="45" ry="20" /%3E%3Cpath fill="hsl(336, 93%25, 77%25)" d="M -28 -5 a 28 28 0 0 1 56 0 48 48 0 0 1 -56 0" /%3E%3Cpath transform="scale(0.85)" stroke-width="2.5" fill="none" d="M -28 -5 a 28 28 0 0 1 56 0" stroke-dasharray="20 80" stroke-dashoffset="48" /%3E%3C/g%3E%3C/svg%3E');
  position: absolute;
  bottom: 2em;
  bottom: var(--elevation);
  right: 0;
  width: 3em;
  height: 3em;
  transform: translate(50%, 50%) rotate(30deg);
  z-index: -5;
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) article#about mark::after {
    content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg stroke="hsl(220, 100%25, 8%25)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"%3E%3Cellipse fill="hsl(210, 90%25, 62%25)" rx="45" ry="20" /%3E%3Cpath fill="hsl(208, 95%25, 75%25)" d="M -28 -5 a 28 28 0 0 1 56 0 48 48 0 0 1 -56 0" /%3E%3Cpath transform="scale(0.85)" stroke-width="2.5" fill="none" d="M -28 -5 a 28 28 0 0 1 56 0" stroke-dasharray="20 80" stroke-dashoffset="48" /%3E%3C/g%3E%3C/svg%3E');
  }
}

body[data-preference='dark'] article#about mark::after {
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg stroke="hsl(220, 100%25, 8%25)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"%3E%3Cellipse fill="hsl(210, 90%25, 62%25)" rx="45" ry="20" /%3E%3Cpath fill="hsl(208, 95%25, 75%25)" d="M -28 -5 a 28 28 0 0 1 56 0 48 48 0 0 1 -56 0" /%3E%3Cpath transform="scale(0.85)" stroke-width="2.5" fill="none" d="M -28 -5 a 28 28 0 0 1 56 0" stroke-dasharray="20 80" stroke-dashoffset="48" /%3E%3C/g%3E%3C/svg%3E');
}

@supports (clip-path: polygon(100% 0%, 100% 100%, 100% 100%)) {
  article#about mark::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3em;
    height: 2em;
    height: var(--elevation);
    background: hsl(330, 100%, 92%);
    background: var(--primary-10);
    z-index: -5;
  }

  @media (prefers-color-scheme: dark) {
    body:not([data-preference]) article#about mark::before {
      opacity: 0.2;
    }
  }

  body[data-preference='dark'] article#about mark::before {
    opacity: 0.2;
  }

  article#about mark::before {
    clip-path: polygon(100% 0%, 100% 100%, 100% 100%);
    animation: clip-polygon 10s ease-in-out infinite alternate paused;
  }

  article#about mark::after {
    transform: translate(50%, 50%) rotate(0deg);
    animation: rotate-ufo 10s ease-in-out infinite alternate paused;
  }

  article#about.observed mark::before,
  article#about.observed mark::after {
    animation-play-state: running;
  }

  @keyframes clip-polygon {
    10% {
      clip-path: polygon(100% 0%, 70% 100%, 0% 100%);
    }
    20%,
    100% {
      clip-path: polygon(100% 0%, 90% 100%, 10% 100%);
    }
  }

  @keyframes rotate-ufo {
    10% {
      transform: translate(50%, 50%) rotate(40deg);
    }
    20%,
    100% {
      transform: translate(50%, 50%) rotate(25deg);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    article#about.observed mark::before,
    article#about.observed mark::after {
      animation-play-state: paused;
    }

    article#about.observed mark::before {
      clip-path: polygon(100% 0%, 90% 100%, 10% 100%);
    }

    article#about.observed mark::after {
      transform: translate(50%, 50%) rotate(25deg);
    }
  }
}

article#about > svg {
  align-self: center;
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  max-width: 30rem;
  width: 90%;
  height: auto;
}

article#about > svg .rotate {
  animation: rotate 200s linear infinite;
  animation-play-state: paused;
}

article#about.observed > svg .rotate {
  animation-play-state: running;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@media (prefers-reduced-motion: reduce) {
  article.observed > svg .rotate {
    animation-play-state: paused;
  }
}

footer {
  margin-top: auto;
  --animation-duration: 2s;
  --animation-timing-function: var(--ease-in-out-sine);
  text-align: center;
  padding: 2.25rem 1rem 2rem;
  color: hsl(215, 10%, 97%);
  color: var(--frappe-grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
  background-position: 0 5px;
  position: relative;
}

footer::before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 100%;
  width: 100%;
  height: 20px;
  transform: translateY(1px);
  background: inherit;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
  background-position: 0 4px;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="25 -20 100 40"%3E%3Cg fill="currentColor" stroke="none"%3E%3Cpath d="M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0" /%3E%3C/g%3E%3C/svg%3E');
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="25 -20 100 40"%3E%3Cg fill="currentColor" stroke="none"%3E%3Cpath d="M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0" /%3E%3C/g%3E%3C/svg%3E');
  -webkit-mask-size: 100px 40px;
  mask-size: 100px 40px;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
}

footer a {
  padding: 0.2rem 0;
  border: initial;
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  border-bottom: 0.1rem solid hsl(340, 90%, 55%);
  border-bottom: 0.1rem solid var(--primary-6);
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color 0.25s var(--ease-in-out-sine);
}

footer a:hover,
footer a:focus {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  outline: none;
}

footer a:focus {
  outline: none;
}

footer a::before,
footer a::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -8px;
}

footer a::before {
  width: 64px;
  height: 64px;
  color: hsl(215, 22%, 5%);
  color: var(--grey-0);
  background: hsl(215, 10%, 97%);
  background: var(--grey-10);
  border: 0.4rem solid currentColor;
  border-radius: 50%;
  transition: color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
}

footer a::after {
  transform: translate(-50%, -50%) scale(1);
  width: 28px;
  height: 28px;
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  border-radius: 50%;
  transition: background 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: background var(--transition-duration) var(--ease-in-out-sine);
}

@supports ((mask-image: url()) or (-webkit-mask-image: url())) {
  footer a::after {
    border-radius: initial;
    mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="currentColor" stroke="currentColor" stroke-width="10" stroke-linejoin="round" stroke-linecap="round"%3E%3Cpath d="M 0 -11.25 a 22.5 22.5 0 0 1 45 0 q 0 25 -45 50 q -45 -25 -45 -50 a 22.5 22.5 0 0 1 45 0" /%3E%3C/g%3E%3C/svg%3E');
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="currentColor" stroke="currentColor" stroke-width="10" stroke-linejoin="round" stroke-linecap="round"%3E%3Cpath d="M 0 -11.25 a 22.5 22.5 0 0 1 45 0 q 0 25 -45 50 q -45 -25 -45 -50 a 22.5 22.5 0 0 1 45 0" /%3E%3C/g%3E%3C/svg%3E');
  }
}

footer a::after {
  animation: heart-beat 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation: heart-beat var(--animation-duration)
    var(--animation-timing-function) infinite;
  animation-play-state: paused;
}

@keyframes heart-beat {
  10%,
  30% {
    transform: translate(-50%, -50%) scale(0.7);
  }

  0%,
  20%,
  40% {
    transform: translate(-50%, -50%) scale(1);
  }
}

footer a:hover::before,
footer a:focus::before {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

footer a:hover::after,
footer a:focus::after {
  background: currentColor;
  animation-play-state: running;
}

@media (prefers-reduced-motion: reduce) {
  footer a:hover::after,
  footer a:focus::after {
    animation-play-state: paused;
  }
}
