/* breadcrumb navigation */
nav {
  max-width: 50em;
  width: 90vw;
  margin: 0 auto;
  padding: 0.5rem 0;
}

nav a {
  border: initial;
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.25rem 0;
  display: inline-flex;
  align-items: center;
}

nav a:focus {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  background: none;
}

nav a svg {
  margin: 0 0.2rem 0 0.4rem;
  width: 1.5em;
  height: auto;
}

/* hero */
header {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-column-gap: 2rem;
  padding: 2.5rem 1rem;
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  color: hsl(215, 10%, 97%);
  color: var(--grey-10);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='20' height='20'%3E%3Cg opacity='0.4'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='10' /%3E%3Ccircle r='10' transform='translate(50 -50)' /%3E%3Ccircle r='10' transform='translate(50 50)' /%3E%3Ccircle r='10' transform='translate(-50 50)' /%3E%3Ccircle r='10' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 5px 5px;
  position: relative;
}
/*
viewport: [40,75]rem
font-size: [1.5,2]rem
*/
header {
  font-size: 1.8rem;
  font-size: calc(1.5rem + (1.8 - 1.5) * (100vw - 40rem) / (75 - 40));
}

@media (min-width: 75rem) {
  header {
    font-size: 1.8rem;
  }
}

@media (max-width: 40rem) {
  header {
    font-size: 1.5rem;
  }
}

header::after {
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='20' height='20'%3E%3Cg opacity='0.4'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='10' /%3E%3Ccircle r='10' transform='translate(50 -50)' /%3E%3Ccircle r='10' transform='translate(50 50)' /%3E%3Ccircle r='10' transform='translate(-50 50)' /%3E%3Ccircle r='10' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 5px -5px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40' width='100' height='40'%3E%3Cg stroke='none' fill='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40' width='100' height='40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40' width='100' height='40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
  position: absolute;
  left: 0%;
  top: 100%;
  width: 100%;
  height: 20px;
  transform: translateY(-1px) scaleY(-1);
}

header svg {
  width: 18em;
  max-width: 90vw;
  height: auto;
  --transition-duration: 0.4s;
}

header svg .borntofrappe {
  transition: transform 0.4s cubic-bezier(0.68, -0.5, 0.265, 1.55), color 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform var(--transition-duration) var(--ease-in-out-back), color var(--transition-duration) var(--ease-in-out-sine);
}

header svg .borntofrappe:hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  transform: scale(1.25) rotate(-10deg);
}

header svg a {
  transition: transform 0.4s cubic-bezier(0.68, -0.5, 0.265, 1.55), color 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform var(--transition-duration) var(--ease-in-out-back), color var(--transition-duration) var(--ease-in-out-sine);
  transform: scale(0.85);
}

header svg a .text {
  transform: scale(0);
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform var(--transition-duration) var(--ease-out-cubic);
}

header svg a:hover,
header svg a:focus,
header svg a:hover .text,
header svg a:focus .text {
  transform: scale(1);
}

header svg a:focus {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

header ul {
  display: block;
  margin-left: 2em;
  font-family: "Maven Pro", sans-serif;
  letter-spacing: -0.5px;
  font-weight: 700;
  list-style: none;
  text-transform: capitalize;
}

@media (max-width: 40rem) {
  header ul {
    letter-spacing: 0px;
  }
}

header ul li {
  line-height: 1.5;
}
header ul > * + * {
  margin-top: 1.25rem;
}

/* from list component */
header ul li {
  position: relative;
}

header ul li::before {
  content: "";
  position: absolute;
  top: 0;
  font-size: 0.9em;
  left: -0.35em;
  width: 1.7em;
  height: 1.7em;
  transform: translate(-100%, 0%);
  background: var(--primary-6);
  mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' aria-focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='1em' height='1em'%3E%3Cg fill='none' stroke='currentColor' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 35 25 c 15 -5 27 -10 35 -25 v -55 q -18 0 -36 -10' /%3E%3Cpath d='M -17 -0 l 12 12 21 -21' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' aria-focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='1em' height='1em'%3E%3Cg fill='none' stroke='currentColor' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 35 25 c 15 -5 27 -10 35 -25 v -55 q -18 0 -36 -10' /%3E%3Cpath d='M -17 -0 l 12 12 21 -21' /%3E%3C/g%3E%3C/svg%3E");
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

/* about */
section {
  max-width: 32rem;
  margin: 1rem auto;
  margin-bottom: 0px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
viewport: [40,75]rem
font-size: [1, 1.2]rem
*/
section {
  font-size: 1.2rem;
  font-size: calc(1rem + (1.2 - 1) * (100vw - 40rem) / (75 - 40));
}

@media (min-width: 75rem) {
  section {
    font-size: 1.2rem;
  }
}

@media (max-width: 40rem) {
  section {
    font-size: 1rem;
  }
}

section > * + * {
  margin-top: 1rem;
}
section h2 {
  font-size: 2em;
}
section p {
  font-size: 1em;
  text-align: flex-start;
  line-height: 1.75;
  font-family: "Source Code Pro", monospace;
}

section mark {
  background: var(--primary-10);
}
section svg {
  width: 90%;
  height: auto;
}
section svg .rotate {
  animation: rotate 200s linear infinite;
  animation-play-state: paused;
}
section svg.observed .rotate {
  animation-play-state: running;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

/* footer */
footer {
  --animation-duration: 2s;
  --animation-timing-function: var(--ease-in-out-sine);
  color: hsl(215, 10%, 97%);
  color: var(--grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='20' height='20'%3E%3Cg opacity='0.4'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='10' /%3E%3Ccircle r='10' transform='translate(50 -50)' /%3E%3Ccircle r='10' transform='translate(50 50)' /%3E%3Ccircle r='10' transform='translate(-50 50)' /%3E%3Ccircle r='10' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 5px 5px;
  padding: 2.25rem 1rem 2rem;
  text-align: center;
  position: relative;
}

footer::before {
  content: "";
  background: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='20' height='20'%3E%3Cg opacity='0.4'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='10' /%3E%3Ccircle r='10' transform='translate(50 -50)' /%3E%3Ccircle r='10' transform='translate(50 50)' /%3E%3Ccircle r='10' transform='translate(-50 50)' /%3E%3Ccircle r='10' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 5px 5px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40' width='100' height='40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40' width='100' height='40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
  position: absolute;
  left: 0%;
  bottom: 100%;
  width: 100%;
  height: 20px;
  transform: translateY(1px);
}

footer a {
  border: initial;
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  padding: 0.2rem 0;
  font-size: 0.95rem;
  font-weight: 600;
  border-bottom: 0.1rem solid hsl(340, 90%, 55%);
  border-bottom: 0.1rem solid var(--primary-6);
}

footer a:focus {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  background: none;
}

footer span {
  z-index: 5;
  position: absolute;
  top: 0%;
  left: 50%;
  width: 64px;
  height: 64px;
  display: block;
  transform: translate(-50%, -50%);
  padding: 12px;
  margin-top: -8px;

  color: hsl(215, 22%, 5%);
  color: var(--grey-0);
  background: hsl(215, 10%, 97%);
  background: var(--grey-10);

  border: 0.4rem solid currentColor;
  border-radius: 50%;
  transition: color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color 0.3s var(--ease-in-out-sine);
}
footer span svg {
  width: 100%;
  height: auto;
}
footer svg g {
  animation: heart-beat 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation: heart-beat var(--animation-duration) var(--animation-timing-function) infinite;
  animation-play-state: paused;
}

@keyframes heart-beat {
  10%,
  30% {
    transform: scale(0.8);
  }
  0%,
  20%,
  40% {
    transform: scale(1);
  }
}

footer a:hover + span,
footer a:focus + span {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}
footer a:hover + span svg g,
footer a:focus + span svg g {
  animation-play-state: running;
}

footer span:hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

@media (prefers-reduced-motion: reduce) {
  footer a:hover + span svg g,
  footer a:focus + span svg g,
  footer span svg:hover g {
    animation-play-state: paused;
  }
}
