* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  color: hsl(215, 22%, 5%);
  background: hsl(215, 10%, 97%);
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}
