body {
  overflow-x: hidden;
}

header {
  max-width: 40rem;
  width: 90vw;
  margin: 0rem auto;
  padding: 3.25rem 0 2.75rem;
  line-height: 1.75;
  color: hsl(215, 10%, 97%);
  color: var(--frappe-grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
  background-position: 5px 10px;
  position: relative;
  z-index: 5;
}

header::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  background: inherit;
  background-position: 6px 0;
  z-index: -5;
}

header::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100vw;
  height: 20px;
  transform: translateX(-50%) translateY(-1px) scaleY(-1);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
  background-position: 16px 3px;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="25 -20 100 40"%3E%3Cg fill="currentColor" stroke="none"%3E%3Cpath d="M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0" /%3E%3C/g%3E%3C/svg%3E');
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="25 -20 100 40"%3E%3Cg fill="currentColor" stroke="none"%3E%3Cpath d="M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0" /%3E%3C/g%3E%3C/svg%3E');
  -webkit-mask-size: 100px 40px;
  mask-size: 100px 40px;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
  z-index: -5;
}

header h1 {
  color: inherit;
}

@supports (display: grid) {
  body {
    overflow-x: initial;
  }

  header {
    width: 100%;
    max-width: initial;
    margin: initial;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 40rem) 1fr;
    grid-column-gap: 5vw;
  }

  header > * {
    grid-column: 2;
  }

  header::before {
    display: none;
  }

  header::after {
    left: 0%;
    width: 100%;
    transform: translateY(-1px) scaleY(-1);
    background-position: 5px 4px;
  }
}

main {
  max-width: 40rem;
  width: 90vw;
  margin: 3.5rem auto 5.5rem;
}

main > * + * {
  margin-top: 1.25rem;
}

main p {
  line-height: 1.75;
}

@supports (mask-image: url()) or (-webkit-mask-image: url()) {
  a.relative {
    --transition-duration: 0.4s;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 0.75em;
    margin: 1em 0;
    z-index: 5;
  }

  a.relative:focus {
    outline: none;
  }

  a.relative::before,
  a.relative::after {
    pointer-events: none;
    z-index: -5;
    content: '';
    position: absolute;
    top: 100%;
    background: currentColor;
    transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: transform var(--transition-duration) var(--ease-in-out-sine);
  }

  a.relative::before {
    left: 0%;
    width: 100%;
    height: 2px;
    transform-origin: 0% 50%;
    transform: translate(0%, -50%) scaleX(0);
  }

  a.relative:hover::before,
  a.relative:focus::before {
    transform: translate(0%, -50%) scaleX(1);
  }

  a.relative::after {
    left: 50%;
    width: 100%;
    height: 1.7em;
    transform: translate(-50%, -50%);
    mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg transform="scale(0.8)"%3E%3Cg fill="none" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round"%3E%3Cg transform="rotate(90)"%3E%3Cpath stroke-width="8" d="M -0 -46 q 23 15 23 52 v 10 a 8 8 0 0 1 -8 8 h -30 a 8 8 0 0 1 -8 -8 v -10 q 0 -37 23 -52" /%3E%3Cg stroke-width="7"%3E%3Cpath d="M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21" /%3E%3Cpath transform="scale(-1 1)" d="M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21" /%3E%3Cpath d="M 0 24 c -10 5 -12 16 0 22.5 c 12 -6.5 10 -17.5 0 -22.5" /%3E%3Ccircle r="9" cy="-11" /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg transform="scale(0.8)"%3E%3Cg fill="none" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round"%3E%3Cg transform="rotate(90)"%3E%3Cpath stroke-width="8" d="M -0 -46 q 23 15 23 52 v 10 a 8 8 0 0 1 -8 8 h -30 a 8 8 0 0 1 -8 -8 v -10 q 0 -37 23 -52" /%3E%3Cg stroke-width="7"%3E%3Cpath d="M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21" /%3E%3Cpath transform="scale(-1 1)" d="M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21" /%3E%3Cpath d="M 0 24 c -10 5 -12 16 0 22.5 c 12 -6.5 10 -17.5 0 -22.5" /%3E%3Ccircle r="9" cy="-11" /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }

  a.relative:hover::after,
  a.relative:focus::after {
    transform: translate(50%, -50%);
  }
}
