/* remove horizontal scroll due to the article's ::before pseudo element */
body {
  overflow-x: hidden;
}

/* sections/hero */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5rem 1rem 2rem;
  color: hsl(215, 10%, 97%);
  color: var(--frappe-grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg opacity='0.5'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='12' /%3E%3Ccircle r='12' transform='translate(50 -50)' /%3E%3Ccircle r='12' transform='translate(50 50)' /%3E%3Ccircle r='12' transform='translate(-50 50)' /%3E%3Ccircle r='12' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 0 98%;
  background-position: 0 calc(100% - 5px);
  position: relative;
}

/*
  [40 - 75]rem width
  [1.4 - 1.7]rem font-size
*/
header {
  font-size: 1.7rem;
  font-size: calc(1.4rem + (1.7 - 1.4) * (100vw - 40rem) / (75 - 40));
}

@media (min-width: 75rem) {
  header {
    font-size: 1.7rem;
  }
}

@media (max-width: 40rem) {
  header {
    font-size: 1.4rem;
  }
}

header::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 20px;
  transform: translateY(-1px) scaleY(-1);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg opacity='0.5'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='12' /%3E%3Ccircle r='12' transform='translate(50 -50)' /%3E%3Ccircle r='12' transform='translate(50 50)' /%3E%3Ccircle r='12' transform='translate(-50 50)' /%3E%3Ccircle r='12' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 0px 4px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-size: 100px 40px;
  mask-size: 100px 40px;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
}

header > svg {
  order: -1;
  width: 18em;
  max-width: 90vw;
  height: auto;
  margin: 1em;
  --transition-duration: 0.4s;
}

header > svg .borntofrappe {
  transition: transform 0.4s cubic-bezier(0.68, -0.5, 0.265, 1.55),
    color 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform var(--transition-duration) var(--ease-in-out-back),
    color var(--transition-duration) var(--ease-in-out-sine);
}

header > svg .borntofrappe:hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  transform: scale(1.25) rotate(-10deg);
}

header > svg a {
  transition: transform 0.4s cubic-bezier(0.68, -0.5, 0.265, 1.55),
    color 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform var(--transition-duration) var(--ease-in-out-back),
    color var(--transition-duration) var(--ease-in-out-sine);
  transform: scale(0.85);
}

header > svg a .text {
  transform: scale(0);
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform var(--transition-duration) var(--ease-out-cubic);
}

header > svg a:hover,
header > svg a:focus,
header > svg a:hover .text,
header > svg a:focus .text {
  transform: scale(1);
}

header > svg a:focus {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  outline: none;
}

header div > * + * {
  margin-top: 1.25rem;
}

header p {
  font-size: 0.7em;
  line-height: 1.75;
}

header ul {
  margin-left: 1.7em;
  font-family: 'Maven Pro', sans-serif;
  text-transform: capitalize;
  font-size: 1em;
  letter-spacing: -0.5px;
  font-weight: 700;
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) header ul {
    font-weight: 600;
  }
}

body[data-preference='dark'] header ul {
  font-weight: 600;
}

@media (max-width: 40rem) {
  header ul {
    letter-spacing: 0px;
  }
}

header ul li {
  line-height: 1.75;
}

header ul > * + * {
  margin-top: 1.25rem;
}

header ul li {
  position: relative;
}

header ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -0.2em;
  width: 1.6em;
  height: 1.6em;
  transform: translate(-100%, 0%);
  background: hsl(340, 90%, 55%);
  background: var(--primary-6);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg fill='none' stroke='currentColor' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 35 25 c 15 -5 27 -10 35 -25 v -55 q -18 0 -36 -10z' /%3E%3Cpath d='M -17 -0 l 12 12 21 -21' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg fill='none' stroke='currentColor' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 35 25 c 15 -5 27 -10 35 -25 v -55 q -18 0 -36 -10z' /%3E%3Cpath d='M -17 -0 l 12 12 21 -21' /%3E%3C/g%3E%3C/svg%3E");
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

/* content */
main#content {
  width: 90vw;
  max-width: 40rem;
  margin: 1rem auto;
}

/*
  [40 - 75]rem width
  [1 - 1.2]rem font-size
*/
main#content {
  font-size: 1.2rem;
  font-size: calc(1rem + (1.2 - 1) * (100vw - 40rem) / (75 - 40));
}

@media (min-width: 75rem) {
  main#content {
    font-size: 1.2rem;
  }
}

@media (max-width: 40rem) {
  main#content {
    font-size: 1rem;
  }
}

/* sections/ getting started & about */
article > * + * {
  margin-top: 0.3em;
}

article p:first-of-type {
  margin-top: 1em;
}

article h2 {
  font-size: 1.8em;
}

article p {
  font-size: 1em;
  line-height: 1.75;
}

/* sections/getting started */
article#getting-started {
  display: flex;
  flex-wrap: wrap;
}

article#getting-started > svg:nth-of-type(1) {
  align-self: flex-end;
  width: 20%;
  height: auto;
}

article#getting-started > svg:nth-of-type(2) {
  align-self: flex-start;
  width: 70%;
  height: auto;
  margin-left: auto;
}

article#getting-started a {
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
  font-size: 1em;
}

@supports (mask-size: 1.5em) or (-webkit-mask-size: 1.5em) {
  article#getting-started a {
    --transition-duration: 0.4s;
    display: inline-block;
    position: relative;
    padding-bottom: 0.75em;
    margin-bottom: 0.75em;
  }

  article#getting-started a:focus {
    outline: none;
  }

  article#getting-started a::before,
  article#getting-started a::after {
    pointer-events: none;
    z-index: -5;
    content: '';
    position: absolute;
    top: 100%;
    background: currentColor;
    transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: transform var(--transition-duration) var(--ease-in-out-sine);
  }

  article#getting-started a::before {
    left: 0%;
    width: 100%;
    height: 2px;
    transform-origin: 0% 50%;
    transform: translate(0%, -50%) scaleX(0);
  }

  article#getting-started a:hover::before,
  article#getting-started a:focus::before {
    transform: translate(0%, -50%) scaleX(1);
  }

  article#getting-started a::after {
    left: 50%;
    width: 100%;
    height: 1.7em;
    transform: translate(-50%, -50%);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg transform='scale(0.8)'%3E%3Cg fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round'%3E%3Cg transform='rotate(90)'%3E%3Cpath stroke-width='8' d='M -0 -46 q 23 15 23 52 v 10 a 8 8 0 0 1 -8 8 h -30 a 8 8 0 0 1 -8 -8 v -10 q 0 -37 23 -52' /%3E%3Cg stroke-width='7'%3E%3Cpath d='M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21' /%3E%3Cpath transform='scale(-1 1)' d='M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21' /%3E%3Cpath d='M 0 24 c -10 5 -12 16 0 22.5 c 12 -6.5 10 -17.5 0 -22.5' /%3E%3Ccircle r='9' cy='-11' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg transform='scale(0.8)'%3E%3Cg fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round'%3E%3Cg transform='rotate(90)'%3E%3Cpath stroke-width='8' d='M -0 -46 q 23 15 23 52 v 10 a 8 8 0 0 1 -8 8 h -30 a 8 8 0 0 1 -8 -8 v -10 q 0 -37 23 -52' /%3E%3Cg stroke-width='7'%3E%3Cpath d='M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21' /%3E%3Cpath transform='scale(-1 1)' d='M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21' /%3E%3Cpath d='M 0 24 c -10 5 -12 16 0 22.5 c 12 -6.5 10 -17.5 0 -22.5' /%3E%3Ccircle r='9' cy='-11' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    mask-position: 0% 50%;
    -webkit-mask-position: 0% 50%;
    mask-size: 1.7em;
    -webkit-mask-size: 1.7em;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }

  article#getting-started a:hover::after,
  article#getting-started a:focus::after {
    transform: translate(50%, -50%);
  }
}

article#getting-started > svg:nth-of-type(1) .rotate {
  transform: rotate(10deg);
  animation: tilt 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
  animation: tilt 10s var(--ease-in-out-sine) infinite alternate;
  animation-play-state: paused;
}

article#getting-started > svg:nth-of-type(2) .icon .scale {
  transform: scale(0.7);
  animation: scale 20s cubic-bezier(0.68, -0.5, 0.265, 1.55) infinite;
  animation: scale 20s var(--ease-in-out-back) infinite;
  animation-play-state: paused;
}

article#getting-started > svg:nth-of-type(2) .icon .color,
article#getting-started > svg:nth-of-type(2) .path .color {
  color: currentColor;
  animation: color 20s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation: color 20s var(--ease-in-out-sine) infinite;
  animation-play-state: paused;
}

article#getting-started > svg:nth-of-type(2) .icon:nth-of-type(2) .scale,
article#getting-started > svg:nth-of-type(2) .icon:nth-of-type(2) .color,
article#getting-started > svg:nth-of-type(2) .path:nth-of-type(1) .color {
  animation-delay: 0.5s;
}

article#getting-started > svg:nth-of-type(2) .icon:nth-of-type(3) .scale,
article#getting-started > svg:nth-of-type(2) .icon:nth-of-type(3) .color,
article#getting-started > svg:nth-of-type(2) .path:nth-of-type(2) .color {
  animation-delay: 0.25s;
}

article#getting-started > svg:nth-of-type(2) .icon:nth-of-type(4) .scale,
article#getting-started > svg:nth-of-type(2) .icon:nth-of-type(4) .color,
article#getting-started > svg:nth-of-type(2) .path:nth-of-type(3) .color {
  animation-delay: 0.75s;
}

article#getting-started > svg:nth-of-type(1).observed .rotate,
article#getting-started > svg:nth-of-type(2).observed .icon .scale,
article#getting-started > svg:nth-of-type(2).observed .icon .color,
article#getting-started > svg:nth-of-type(2).observed .path .color {
  animation-play-state: running;
}

@media (min-width: 40rem) {
  @supports (display: grid) {
    article#getting-started {
      display: grid;
      flex-wrap: initial;
      grid-template-columns: 1fr 4fr;
      grid-column-gap: 2rem;
      grid-row-gap: 0.5rem;
    }

    article#getting-started > * + *,
    article#getting-started p:first-of-type {
      margin-top: initial;
    }

    article#getting-started > svg:nth-of-type(1) {
      grid-row: 2;
      align-self: end;
      width: 100%;
      height: auto;
    }

    article#getting-started > svg:nth-of-type(2) {
      grid-column: 2;
      grid-row: 1;
      justify-self: end;
      align-self: initial;
      margin-left: initial;
      width: 100%;
      height: auto;
      max-width: 30rem;
    }

    article#getting-started p,
    article#getting-started a {
      grid-column: 2;
      justify-self: start;
    }

    article#getting-started > svg:nth-of-type(1) .rotate {
      transform: rotate(30deg);
    }
  }
}

@keyframes tilt {
  30%,
  100% {
    transform: rotate(-15deg);
  }
}

@keyframes scale {
  10%,
  90% {
    transform: scale(1);
  }
}

@keyframes color {
  10%,
  90% {
    color: hsl(340, 85%, 46%);
    color: var(--primary-6);
  }
}

/* sections/about */
article#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article#about p {
  align-self: flex-start;
}

article#about mark {
  background: none;
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  letter-spacing: initial;
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) article#about mark {
    font-weight: 600;
  }
}

body[data-preference='dark'] article#about mark {
  font-weight: 600;
}

article#about > svg {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  max-width: 30rem;
  width: 90%;
  height: auto;
  margin-bottom: -1rem;
}

article#about > svg .rotate {
  animation: rotate 200s linear infinite;
  animation-play-state: paused;
}

article#about > svg.observed .rotate {
  animation-play-state: running;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

/* separator */
main#content article:first-of-type {
  margin-top: 4em;
}

main#content article + article::before {
  content: '';
  width: 100vw;
  height: 3.5em;
  margin: 4em 0;
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg opacity='0.5'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='12' /%3E%3Ccircle r='12' transform='translate(50 -50)' /%3E%3Ccircle r='12' transform='translate(50 50)' /%3E%3Ccircle r='12' transform='translate(-50 50)' /%3E%3Ccircle r='12' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-size: auto 100%;
  mask-size: auto 100%;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
}
