/* General purpose */
.hljs-keyword,
.hljs-literal,
.hljs-subst .hljs-class,
.hljs-function {
  color: hsl(210, 34%, 63%);
}
.hljs-built_in,
.hljs-params {
  color: hsl(219, 28%, 88%);
}
.hljs-number {
  color: hsl(311, 20%, 63%);
}
.hljs-regexp {
  color: hsl(40, 71%, 73%);
}
.hljs-string {
  color: hsl(92, 28%, 65%);
}
.hljs-symbol,
.hljs-title {
  color: hsl(193, 43%, 67%);
}

.hljs-comment {
  color: hsl(220, 17%, 46%);
}

/* Meta */
.hljs-meta {
  color: hsl(210, 34%, 63%);
}
.hljs-meta-keyword {
  color: hsl(179, 25%, 65%);
}

/* Tags, attributes, configs */
.hljs-section {
  color: hsl(193, 43%, 67%);
}
.hljs-tag,
.hljs-name {
  color: hsl(210, 34%, 63%);
}
.hljs-attr {
  color: hsl(179, 25%, 65%);
}
.hljs-attribute {
  color: hsl(219, 28%, 88%);
}

/* Text Markup */
.hljs-bullet {
  color: hsl(218, 27%, 94%);
}
.hljs-code {
  color: hsl(40, 71%, 73%);
}
.hljs-emphasis,
.hljs-strong {
  color: hsl(219, 28%, 88%);
}
.hljs-link {
  color: hsl(193, 43%, 67%);
}
.hljs-quote {
  color: hsl(220, 17%, 46%);
}

/* CSS */
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo {
  color: hsl(210, 34%, 63%);
}

/* diff */
.hljs-addition {
  color: #a3be8c;
}
.hljs-deletion {
  color: #bf616a;
}
