---
title: Bring an umbrella
description: Rain is always welcome when you take shelter.
date: 2023-03-31T16:12:03
---

The month of April is renowned to be capricious in nature. The occasional, morning shower is always welcome, gracing the soil with some much needed moisture. In the condition of being well prepared, that is.
