<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link</title>
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <!-- switch to "light" or "dark" for a different color palette -->
  <body data-preference="light">
    <main>
      <h2>Blog</h2>
      <p>
        If you can tolerate a verbose writing style, I have a couple of articles
        for you.
      </p>
      <a href="/blog" class="relative">Explore articles</a>

      <h2>Icons</h2>
      <p>
        I've spent a considerable amount of time and energy creating the icons
        for this website. It seems fitting to open source the entire set.
      </p>
      <a href="/icons" class="relative">Explore icons</a>
    </main>
  </body>
</html>
