main {
	max-width: 40rem;
	margin: 1rem auto;
}

main > * + * {
	margin-top: 0.5rem;
}

p {
	line-height: 2;
}

h1 a {
	display: none;
}

h2,
h3,
h4 {
	display: flex;
	align-items: center;
}

h2 a,
h3 a,
h4 a {
	opacity: 0.2;
	margin-left: 0.5rem;
	width: 1em;
	height: 1em;
	transition-property: opacity, color;
	transition-duration: 0.25s;
	transition-duration: var(--transition-duration);
	transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition-timing-function: var(--ease-in-out-sine);
}

h2 a:focus,
h3 a:focus,
h4 a:focus {
	opacity: 1;
}

h2 a:hover,
h3 a:hover,
h4 a:hover {
	opacity: 1;
	color: hsl(340, 90%, 55%);
	color: var(--primary-6);
}

h2 a svg,
h3 a svg,
h4 a svg {
	width: 100%;
	height: auto;
}

p > code {
	font-weight: 700;
	font-family: inherit;
	color: hsl(215, 10%, 98%);
	color: var(--frappe-grey-10);
	background: hsl(229, 20%, 20%);
	background: var(--frappe-grey-1);
	box-shadow: 0 0.2rem hsl(212, 12%, 45%);
	box-shadow: 0 0.2rem var(--frappe-grey-5);
	border-radius: 0.25rem;
	padding: 0.25rem 0.4rem;
	white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
	body:not([data-preference]) p > code {
		font-weight: 600;
	}
}

body[data-preference='dark'] p > code {
	font-weight: 600;
}

.code {
	margin: 1rem 0;
}

.code > span,
.code pre {
	border-radius: 0.4rem;
	padding: 0.8rem 1rem;
}

.code > span {
	font-family: 'Maven Pro', sans-serif;
	font-weight: 500;
	color: hsl(215, 10%, 98%);
	color: var(--frappe-grey-10);
	background: hsl(215, 22%, 5%);
	background: var(--frappe-grey-0);
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	background-size: 20px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: color var(--transition-duration) var(--ease-in-out-sine);
	display: flex;
	align-items: center;
}

.code > span svg {
	width: 1.25em;
	height: auto;
	margin-right: 0.5rem;
}

.code:hover > span {
	color: hsl(340, 90%, 55%);
	color: var(--primary-6);
}

.code pre {
	font-size: 1rem;
	margin: 0;
	color: hsl(214, 15%, 88%);
	color: var(--frappe-grey-9);
	background: hsl(229, 20%, 20%);
	background: var(--frappe-grey-1);
	line-height: 2;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.code pre {
	overflow-x: auto;
}

.code pre::-webkit-scrollbar {
	height: 0.4rem;
}

.code pre::-webkit-scrollbar-track {
	background: hsl(215, 22%, 5%);
	background: var(--frappe-grey-0);
}

.code pre::-webkit-scrollbar-thumb {
	background: hsl(340, 90%, 55%);
	background: var(--primary-6);
	border-radius: 0.2rem;
}
