p {
	line-height: 2;
}

h1 a {
	display: none;
}

h2,
h3,
h4 {
	display: flex;
	align-items: center;
}

h2 a,
h3 a,
h4 a {
	opacity: 0.2;
	margin-left: 0.5rem;
	width: 1em;
	height: 1em;
	transition-property: opacity, color;
	transition-duration: 0.25s;
	transition-duration: var(--transition-duration);
	transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition-timing-function: var(--ease-in-out-sine);
}

h2 a:focus,
h3 a:focus,
h4 a:focus {
	opacity: 1;
}

h2 a:hover,
h3 a:hover,
h4 a:hover {
	opacity: 1;
	color: hsl(340, 90%, 55%);
	color: var(--primary-6);
}

h2 a svg,
h3 a svg,
h4 a svg {
	width: 100%;
	height: auto;
}
