---
title: Word order
description: Musings on pet-peeves and SQLite concerns.
date: 2024-06-11
---

<script>
	import svg from './svg.js';
	import ChildSwap from './ChildSwap.svelte';
</script>

<figure class="[ center-frame ]" data-size="small">
	{@html svg['road-sign']}
</figure>

<ChildSwap childrenText={['import { LitElement, html }', "from 'lit'"]} />

<ChildSwap childrenText={['DELETE FROM "users"', ' WHERE "name" = "deleted"', ';']} />
