---
title: Counting up and down
description: A basic web component built with the three core APIs.
date: 2024-03-08
---

<script>
	import CustomMarkup from './CustomMarkup.svelte';
	import CustomCounter from './CustomCounter.svelte';
</script>

<CustomMarkup />

<CustomCounter />
