---
title: Looptie loops
description: Lean on too many iterations to navigate an infinite, pixelated space.
date: 2024-03-04
---

<script>
	import ZdogMonday from '$lib/components/blog/ZdogMonday.svelte';

	import SpaceLoops from './SpaceLoops.svelte';
</script>

<SpaceLoops />

<ZdogMonday />
