---
title: What shines through
description: Bla bla.
date: 2024-04-04T10:10:53
---

Properties traversing through the shadow DOM.

<script>
	import svg from './svg';
</script>

<figure class="[ center-frame ]" data-size="large">
	{@html svg['inherited-properties']}
</figure>
