---
title: Just keep spinning
description: Continue toying with pseudo-3D shapes.
date: 2023-11-27T10:38:12
---

<script>
	import ZdogMonday from '$lib/components/blog/ZdogMonday.svelte';
	
	import Dreidel from './Dreidel.svelte';
</script>

<Dreidel />
