/* liberal CSS to push the content below the viewport */
#content {
  max-width: 40rem;
  font-size: 1rem;
  width: 90vw;
  margin: 150vh auto 100vh;
  line-height: 2;
}

/* SKIP COMPONENT */
#skip-to-content {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  color: hsl(215, 10%, 97%);
  color: var(--grey-10);
  background: hsl(210, 20%, 12%);
  background: var(--grey-1);
  display: flex;
  width: max-content;
  align-items: center;
  z-index: 5;
}

#skip-to-content svg {
  width: 1em;
  height: auto;
  margin-left: 0.5rem;
}

/* NAV COMPONENT */
nav {
  max-width: 40rem;
  width: 90vw;
  margin: 0 auto;
  padding: 0.5rem 0;
}

nav > * + * {
  margin-left: 0.3rem;
}

nav a {
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 0;
  display: inline-flex;
  align-items: center;
}

nav a svg {
  margin-left: 0.3rem;
  width: 1.5em;
  height: auto;
}
