<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blockquote</title>
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="../../Design Guide/Static/icon.svg" />
    <link rel="icon" type="image/png" sizes="16x16" href="../../Design Guide/Static/icon-16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../Design Guide/Static/icon-32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../Design Guide/Static/apple-touch-icon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Maven+Pro:wght@500;600;700&family=Source+Code+Pro&display=swap" rel="stylesheet" />
  </head>
  <body>
    <main>
      <blockquote>
        <p>there's no better time than now</p>
      </blockquote>

      <blockquote>
        <p>there's no better time than now</p>
        <p>there was, but it was yesterday</p>
      </blockquote>
    </main>
  </body>
</html>
