---
title: Math code
description: Intro to MathML.
date: 2024-05-08
---

<script>
	import html from './html.js';
	import REPL from './REPL.svelte';
</script>

<figure class="[ center-frame ]" data-size="small">
	{@html html['mathml-calculator']}
</figure>

<REPL />
