---
title: Has spunk
description: Recreate an SVG trick with CSS properties.
date: 2024-03-07
---

<script>
	import svg from './svg.js';
	import DinnerMenu from './DinnerMenu.svelte';
</script>

<figure class="center-frame" style="--frame-size: 10rem;">
	{@html svg['smiley']}
</figure>

<figure class="center-frame" style="--frame-size: 10rem;">
	{@html svg['smiley-ne']}
</figure>

<DinnerMenu />
