---
title: Has spunk
description: Recreate an SVG trick with CSS properties.
date: 2024-03-07
---

<script>
	import svg from './svg.js';
</script>

<figure class="center-frame" data-size="small">
	{@html svg['smiley']}
</figure>

<figure class="center-frame" data-size="small">
	{@html svg['smiley-ne']}
</figure>
