---
title: CSS in SVG
description: Well...
date: 2023-03-03T11:47:28
---

<script>
	import svg from './svg.js'
</script>

Vector graphics are most suited for icons, stylized drawings scattered here and there and embellishing flowing text {@html svg['rocket']}.
