---
title: Complete rule
description: fill-rule.
date: 2024-02-14
---

<script>
	import svg from './svg.js';
</script>

Explain the `fill-rule` attribute.

{@html svg['line-markers']}

<figure class="[ center-frame ]" data-size="medium">
	{@html svg['winding-clockwise']}
</figure>

<figure class="[ center-frame ]" data-size="medium">
	{@html svg['fill-rules']}
</figure>

<figure class="[ center-frame ]" data-size="medium">
	{@html svg['winding-counter-clockwise']}
</figure>
