---
title: Fluttering with style
description: Paint with vector graphics and take a leap with CSS animations.
date: 2023-02-27T09:43:08
---

Explore SVG syntax and you are able to draw close to anything directly in a text editor. Lean on CSS and then, then you can almost learn how to fly.
