---
title: 'Day One'
date: 2021-04-01
---

<style>
  code {
    font-family: monospace;
    font-size: 1.25em;
    color: hsl(0, 0%, 95%);
    background: hsl(218, 86%, 5%);
    padding: 0.1rem 0.25rem;
    border-radius: 0.25rem;
  }
</style>

Setting up multiple pages, components, layout and error files seems rather straightforward. The most complicated part, for the time being, is creating pages for the blog post. Based on a series of `.svx` files.
