---
title: 'Day Two Example'
date: 2020-04-02
---

<script>
  let counter = 0;
</script>

<style>
  button {
    background: none;
    border: 2px solid currentColor;
    padding: 0.25rem 0.5rem;
    font-family: inherit;
    border-radius: 0.2rem;
  }

</style>

<button on:click={() => counter = counter - 1}>Decrement</button>
<button on:click={() => counter = counter + 1}>Increment</button>

Clickity-click: I've reached **{counter}**
