---
title: 'Day Two'
date: 2021-04-02
---

<style>
  strong {
    color: hsl(28, 76%, 58%);
  }
</style>

It seems everything works fine with basic `.svx` syntax. When I include a script, however, the page generated through Netlify returns a rather general **500** error. 

The unnerving --- and yet intriguing --- part is that the error is not always displayed. Sometimes, even, the page shows the right content before crashing down.
