---
layout: null
---

{% set staticFolder = '../static' %}
{% set hasContent = true %}
{% set url = "/blog" %}
{% extends "layouts/base.njk" %}

{% block head %}
  <link rel="icon" href="../static/icon.svg" />
  <link rel="icon" type="image/png" sizes="16x16" href="../static/icon-16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="../static/icon-32.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png" />
{% endblock %}

{% block style %}
  {% include "css/blog.css" %}
{% endblock %}

{% block content %}
<header>
<h1>Jotting things down</h1>
  <p>I write so I can truly learn something. I write because I tend to forget.</p>
  <p>If it saves a Google search or two, I figure this a complete success.</p>
</header>

<main id="content">
  {%- for post in collections.blog %}
  <article>
    <h2>
      <a href="{{post.url}}">
        {{ post.data.title }}
        {%- if loop.index0 === 0 %}
          {{ icons.sparkles | safe }}
        {% endif -%}
      </a>
    </h2>

    <time datetime="{{post.date}}">
      {{- post.date | formatdate -}}
    </time>

    <p>
    {{- post.data.brief -}}
    </p>
  </article>
  {% endfor -%}
</main>
{% endblock %}