---
layout: null
tags: null
---
{% extends "layouts/base.njk" %}
{% set hasContent = true %}

{% block content %}

<header>
  <h1>Jotting things down</h1>
</header>

<main id="content">
  {% for post in collections.blog %}
  <article>
    <h2>
      <a href="{{post.url}}">
        {{ post.data.title }}
        {% if loop.index0 === 0 %}
          {{ icons.sparkles | safe }}
        {% endif %}
      </a>
    </h2>
  </article>
  {% endfor %}
</main>

{% endblock %}