---
title: 'Test Article 4'
description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'
date: '2021-04-14'
tags: ['running', 'flag', 'sparkles']
---

> there's no better time than now

## Content

Here's some fillter content to test out the parsing logic.

- a nice

- unordered

- list

A table for your table needs.

| Key          | Value | isRandom |
| ------------ | ----: | -------: |
| Grapes       |  1.28 |     true |
| Oranges      |  2.55 |    false |
| Apples       |  0.98 |    false |
| Peaches      |  1.85 |     true |
| Strawberries |  3.12 |     true |

## Syntax Highlighting

A few code snippets to test out syntax highlighting.

```html
<body>
  <blockquote>
    <p>there's no better time than now</p>
    <p>there was, but it was yesterday</p>
  </blockquote>
</body>
```

```css
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
```

```js
function setPreference(preference) {
  document.body.setAttribute('data-preference', preference);
  window.localStorage.setItem('color-scheme', preference);
}
```
