---
title: Test article 4
date: 2021-9-4
brief: An additional article to double-check that mdsvex is able to consider .svx files.
keywords: svelte
---

<script>
    let counter = 0;
</script>

You have a counter: **{counter}**.

You have a couple of button to change its value.

<form on:submit|preventDefault>
    <button on:click={() => { counter = counter + 1;}}>Increment</button>
    <button on:click={() => { counter = counter - 1;}}>Decrement</button>
</form>
