main {
  max-width: 40rem;
  width: 90vw;
  margin: 1rem auto;
}

main > * + * {
  margin-top: 1.25rem;
}

article > * + * {
  margin-top: 0.5rem;
}

article h2 {
  font-size: 1.8rem;
}

article:first-of-type h2 {
  font-size: 2rem;
}

article h2 a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

article h2 a:hover {
  color: hsl(210, 85%, 55%);
  color: var(--secondary-6);
}

article:first-of-type h2 a:hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

article h2 a:focus {
  background: hsl(205, 100%, 92%);
  background: var(--secondary-10);
}

article:first-of-type h2 a:focus {
  background: hsl(330, 100%, 92%);
  background: var(--primary-10);
}

article h2 a svg {
  width: 1.5em;
  height: auto;
}

article time {
  font-size: 0.95rem;
  letter-spacing: -0.5px;
  padding: 0.25rem 0.4rem;
  display: inline-block;
  background: hsl(205, 100%, 92%);
  background: var(--secondary-10);
  border-left: 0.2rem solid hsl(212, 92%, 45%);
  border-left: 0.2rem solid var(--secondary-5);
}

article:first-of-type time {
  background: hsl(330, 100%, 92%);
  background: var(--primary-10);
  border-left-color: hsl(340, 90%, 55%);
  border-left-color: var(--primary-6);
}

article p {
  line-height: 1.75;
  color: var(--grey-1);
}

@supports (display: grid) {
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 1.25rem 1.75rem;
  }

  main > * + * {
    margin-top: initial;
  }

  article:first-of-type {
    grid-column: 1/-1;
  }
}

@supports (grid-template-columns: subgrid) {
  article {
    grid-gap: 0;
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;
    justify-items: start;
  }
}
