body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* components/skip to content */
#skip-to-content {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  color: hsl(215, 10%, 97%);
  color: var(--grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  box-shadow: 0 0 0.5rem -0.4rem hsl(215, 22%, 5%);
  box-shadow: 0 0 0.5rem -0.4rem var(--grey-0);
  display: flex;
  width: max-content;
  align-items: center;
  z-index: 10;
}

#skip-to-content svg {
  width: 1em;
  height: auto;
  margin-left: 0.5rem;
}

/* components/breadcrumb navigation */
nav {
  max-width: 40rem;
  width: 90vw;
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

nav > * + * {
  margin-left: 0.3rem;
}

nav a {
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 0;
  display: inline-flex;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) nav a {
    font-weight: 600;
  }
}

body[data-preference='dark'] nav a {
  font-weight: 600;
}

nav a svg {
  margin-left: 0.3rem;
  width: 1.5em;
  height: auto;
}

/* components/dark mode toggle */
nav button {
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  color: inherit;
  background: none;
  border-radius: 50%;
  border: 0.2rem solid currentColor;
  padding: 0;
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
}

nav button svg {
  width: 100%;
  height: auto;
  border-radius: inherit;
}

nav button:not(:disabled):focus {
  outline: 0.15rem dashed currentColor;
}

nav button:not(:disabled):hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) nav button svg .rotate {
    transform: rotate(180deg);
  }

  body:not([data-preference]) nav button svg .scale {
    transform: scaleX(-1);
  }
}

body[data-preference='dark'] nav button svg .rotate {
  transform: rotate(180deg);
}

body[data-preference='dark'] nav button svg .scale {
  transform: scaleX(-1);
}

body[data-transition] nav button svg .rotate {
  transition: transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform var(--transition-duration) var(--ease-in-out-sine);
}

body[data-transition] nav button svg .scale {
  transition: transform 0.25s step-end;
  transition: transform var(--transition-duration) step-end;
}

/* sections/header page */
header {
  max-width: 40rem;
  width: 90vw;
  margin: 0rem auto;
  padding: 3.25rem 0 2.75rem;
  line-height: 1.75;
  color: hsl(215, 10%, 97%);
  color: var(--frappe-grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg opacity='0.5'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='12' /%3E%3Ccircle r='12' transform='translate(50 -50)' /%3E%3Ccircle r='12' transform='translate(50 50)' /%3E%3Ccircle r='12' transform='translate(-50 50)' /%3E%3Ccircle r='12' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 5px 10px;
  position: relative;
  z-index: 5;
}

header::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  background: inherit;
  background-position: 6px 0;
  z-index: -5;
}

header::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100vw;
  height: 20px;
  transform: translateX(-50%) translateY(-1px) scaleY(-1);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg opacity='0.5'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='12' /%3E%3Ccircle r='12' transform='translate(50 -50)' /%3E%3Ccircle r='12' transform='translate(50 50)' /%3E%3Ccircle r='12' transform='translate(-50 50)' /%3E%3Ccircle r='12' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 16px 3px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-size: 100px 40px;
  mask-size: 100px 40px;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
  z-index: -5;
}

header h1 {
  color: inherit;
}

@supports (display: grid) {
  /*
  center the header in a grid of three columns
  | | header | |
  */
  body {
    overflow-x: initial;
  }

  header {
    width: 100%;
    max-width: initial;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 40rem) 1fr;
    grid-column-gap: 5vw;
  }

  header > * {
    grid-column: 2;
  }

  header::before {
    display: none;
  }

  header::after {
    left: 0%;
    width: 100%;
    transform: translateY(-1px) scaleY(-1);
    background-position: 5px 4px;
  }
}

/* main */
main#content {
  max-width: 40rem;
  width: 90vw;
  margin: 0 auto;
  padding: 3.5rem 0 5.5rem;
}

main#content > * + * {
  margin-top: 1.25rem;
}

main#content p {
  line-height: 1.75;
}

@supports (mask-size: 1.5em) or (-webkit-mask-size: 1.5em) {
  a.relative {
    --transition-duration: 0.4s;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 0.75em;
    margin-bottom: 1em;
  }

  a.relative:focus {
    outline: none;
  }

  a.relative::before,
  a.relative::after {
    pointer-events: none;
    z-index: -5;
    content: '';
    position: absolute;
    top: 100%;
    background: currentColor;
    transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: transform var(--transition-duration) var(--ease-in-out-sine);
  }

  a.relative::before {
    left: 0%;
    width: 100%;
    height: 2px;
    transform-origin: 0% 50%;
    transform: translate(0%, -50%) scaleX(0);
  }

  a.relative:hover::before,
  a.relative:focus::before {
    transform: translate(0%, -50%) scaleX(1);
  }

  a.relative::after {
    left: 50%;
    width: 100%;
    height: 1.7em;
    transform: translate(-50%, -50%);
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg transform='scale(0.8)'%3E%3Cg fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round'%3E%3Cg transform='rotate(90)'%3E%3Cpath stroke-width='8' d='M -0 -46 q 23 15 23 52 v 10 a 8 8 0 0 1 -8 8 h -30 a 8 8 0 0 1 -8 -8 v -10 q 0 -37 23 -52' /%3E%3Cg stroke-width='7'%3E%3Cpath d='M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21' /%3E%3Cpath transform='scale(-1 1)' d='M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21' /%3E%3Cpath d='M 0 24 c -10 5 -12 16 0 22.5 c 12 -6.5 10 -17.5 0 -22.5' /%3E%3Ccircle r='9' cy='-11' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg transform='scale(0.8)'%3E%3Cg fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round'%3E%3Cg transform='rotate(90)'%3E%3Cpath stroke-width='8' d='M -0 -46 q 23 15 23 52 v 10 a 8 8 0 0 1 -8 8 h -30 a 8 8 0 0 1 -8 -8 v -10 q 0 -37 23 -52' /%3E%3Cg stroke-width='7'%3E%3Cpath d='M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21' /%3E%3Cpath transform='scale(-1 1)' d='M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21' /%3E%3Cpath d='M 0 24 c -10 5 -12 16 0 22.5 c 12 -6.5 10 -17.5 0 -22.5' /%3E%3Ccircle r='9' cy='-11' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    mask-position: 0% 50%;
    -webkit-mask-position: 0% 50%;
    mask-size: 1.7em;
    -webkit-mask-size: 1.7em;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }

  a.relative:hover::after,
  a.relative:focus::after {
    transform: translate(50%, -50%);
  }
}

/* components/footer */
footer {
  margin-top: auto;
  --animation-duration: 2s;
  --animation-timing-function: var(--ease-in-out-sine);
  text-align: center;
  padding: 2.25rem 1rem 2rem;
  color: hsl(214, 15%, 88%);
  color: var(--frappe-grey-9);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg opacity='0.5'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='12' /%3E%3Ccircle r='12' transform='translate(50 -50)' /%3E%3Ccircle r='12' transform='translate(50 50)' /%3E%3Ccircle r='12' transform='translate(-50 50)' /%3E%3Ccircle r='12' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 0 5px;
  position: relative;
}

footer::before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 100%;
  width: 100%;
  height: 20px;
  transform: translateY(1px);
  background: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg opacity='0.5'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='12' /%3E%3Ccircle r='12' transform='translate(50 -50)' /%3E%3Ccircle r='12' transform='translate(50 50)' /%3E%3Ccircle r='12' transform='translate(-50 50)' /%3E%3Ccircle r='12' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 0 4px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-size: 100px 40px;
  mask-size: 100px 40px;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
}

footer a {
  padding: 0.2rem 0;
  border: initial;
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  border-bottom: 0.1rem solid hsl(340, 90%, 55%);
  border-bottom: 0.1rem solid var(--primary-6);
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color 0.25s var(--ease-in-out-sine);
}

footer a:hover,
footer a:focus {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  outline: none;
}

footer a:focus {
  outline: none;
}

footer span {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 64px;
  height: 64px;
  transform: translate(-50%, -50%);
  display: block;
  padding: 12px;
  margin-top: -8px;
  color: hsl(215, 22%, 5%);
  color: var(--grey-0);
  background: hsl(215, 10%, 97%);
  background: var(--grey-10);
  border: 0.4rem solid currentColor;
  border-radius: 50%;
  transition: color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
}

footer span svg {
  width: 100%;
  height: auto;
}

footer svg g {
  animation: heart-beat 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation: heart-beat var(--animation-duration)
    var(--animation-timing-function) infinite;
  animation-play-state: paused;
}

@keyframes heart-beat {
  10%,
  30% {
    transform: scale(0.7);
  }

  0%,
  20%,
  40% {
    transform: scale(1);
  }
}

footer a:hover + span,
footer a:focus + span {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

footer a:hover + span svg g,
footer a:focus + span svg g {
  animation-play-state: running;
}

footer span:hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

@media (prefers-reduced-motion: reduce) {
  footer a:hover + span svg g,
  footer a:focus + span svg g,
  footer span svg:hover g {
    animation-play-state: paused;
  }
}
