body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 3rem;
  height: 3rem;
  color: inherit;
  background: none;
  border-radius: 50%;
  border: 0.3rem solid currentColor;
  display: block;
  padding: 0;
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color 0.25s var(--ease-in-out-sine);
}

button svg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}

button:not(:disabled):focus {
  outline: 0.15rem dashed currentColor;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

@media (prefers-color-scheme: dark) {
  /* properties for the alternative color palette */
  body:not([data-preference]) {
    color: hsl(214, 15%, 88%);
    color: var(--grey-9);
    background: hsl(215, 22%, 5%);
    background: var(--grey-0);
  }

  body:not([data-preference]) button svg .rotate {
    transform: rotate(180deg);
  }

  body:not([data-preference]) button svg .scale {
    transform: scaleX(-1);
  }
}

body[data-preference='dark'] button svg .rotate {
  transform: rotate(180deg);
}

body[data-preference='dark'] button svg .scale {
  transform: scaleX(-1);
}

body[data-transition] button svg .rotate {
  transition: transform 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform var(--transition-duration) var(--ease-in-out-sine);
}

body[data-transition] button svg .scale {
  transition: transform 1.5s step-end;
  transition: transform var(--transition-duration) step-end;
}
