---
title: Web components by numbers
description: An introduction to web components with round figures.
date: 2024-03-06
---

<script>
	import svg from './svg.js';
	import CustomCounter from './CustomCounter.svelte';
</script>

<figure class="center-frame">
	{@html svg['pan']}
</figure>

<figure class="center-frame" data-size="medium">
	{@html svg['snippet-template']}
</figure>

<figure class="center-frame" data-size="medium">
	{@html svg['snippet-template-clone']}
</figure>

<CustomCounter />
