---
title: Who's on first?
description: Firefox and Chrome compete in a ludicrous SMIL race.
date: 2023-05-30T09:20:15
---

As you test the remote corners of the SVG spec you discover small inconsistencies between modern browsers.
