---
title: Rotate order
description: Lean on the often counfounding nature of pseudo-3D rotations.
date: 2023-11-03T11:11:11
---

<script>
	import Axes from './Axes.svelte';
	import Rotate from './Rotate.svelte';
	import Robots from './Robots.svelte';
</script>

Zdog rotatations on the x, y and z axis.

<Robots />
