---
title: The faces of the moon
description: Crafting a new vector graphic
date: 2023-02-20T09:23:27
---

Up in the sky, sometimes on the opposite end of [a jovial presence](/ray-of-light), you might spot a new face.
