---
title: Count numbers
description: Build a basic web component with the three core APIs.
date: 2024-03-08
---

<script>
	import CountMarkup from './CountMarkup.svelte';
	import CountNumbers from './CountNumbers.svelte';
</script>

<CountMarkup />

<CountNumbers />
