<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <title>borntofrappe / {{ title | slug }}</title>
  <body>
    <nav>
      <a href="/">
        borntofrappe
        {{ icons.rocket | safe }}
      </a>
      <a href="/blog/{{ title | slug }}">
        / {{ title | slug }}
      </a>
    </nav>

    <header>
      <h1>
        {{ title }}
      </h1>
    </header>

    <main>
      {{ content | safe }}
    </main>


    <footer>
      <a href="/twitter">
        borntofrappe
      </a>
    </footer>

  </body>
</html>
