<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <title>{{ title }}</title>
  <body>
    <nav>
      <a href="/">
        borntofrappe
        {{ icons["rocket"] }}
      </a>
    </nav>

    <h1>{{ title | crazycase }}</h1>
    {{ content }}
  </body>
</html>
