#skip-to-content {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  color: hsl(215, 10%, 97%);
  color: var(--grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  box-shadow: 0 0 0.5rem -0.4rem hsl(215, 22%, 5%);
  box-shadow: 0 0 0.5rem -0.4rem var(--grey-0);
  display: flex;
  align-items: center;
  z-index: 10;
}

#skip-to-content svg {
  width: 1em;
  height: auto;
  margin-left: 0.5rem;
}

.navigation {
  max-width: 40rem;
  width: 90vw;
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

.navigation > *:last-child {
  margin-left: auto;
  flex-shrink: 0;
}

.navigation nav > * + * {
  margin-left: 0.3rem;
}

.navigation nav a {
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 0;
  display: inline-flex;
  align-items: center;
}

.navigation nav a svg {
  margin-left: 0.3rem;
  width: 1.5em;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) .navigation nav a {
    font-weight: 600;
  }
}

body[data-preference='dark'] .navigation nav a {
  font-weight: 600;
}

.navigation button {
  width: 2rem;
  height: 2rem;
  color: inherit;
  background: none;
  border-radius: 50%;
  border: 0.2rem solid currentColor;
  padding: 0;
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
}

.navigation button svg {
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.navigation button:not(:disabled):focus {
  outline: 0.15rem dashed currentColor;
}

.navigation button:not(:disabled):hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) .navigation button svg .rotate {
    transform: rotate(180deg);
  }

  body:not([data-preference]) .navigation button svg .scale {
    transform: scaleX(-1);
  }
}

body[data-preference='dark'] .navigation button svg .rotate {
  transform: rotate(180deg);
}

body[data-preference='dark'] .navigation button svg .scale {
  transform: scaleX(-1);
}

body[data-transition] .navigation button svg .rotate {
  transition: transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform var(--transition-duration) var(--ease-in-out-sine);
}

body[data-transition] .navigation button svg .scale {
  transition: transform 0.25s step-end;
  transition: transform var(--transition-duration) step-end;
}

header {
  text-align: center;
  padding: 4.5rem 1rem;
  color: hsl(215, 10%, 97%);
  color: var(--frappe-grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
  background-position: 0 100%;
  position: relative;
}

header::before {
  position: absolute;
  top: 0;
  width: 8rem;
  right: 50%;
  transform: translate(-50%, 0rem) rotate(180deg);
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-60 -45 120 80"%3E%3Cg fill="hsl(215, 10%25, 97%25)" stroke="hsl(215, 10%25, 97%25)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"%3E%3Cpath transform="translate(0 -10)" d="M -4 0 a 4 4 0 0 0 4 -4 4 4 0 0 0 4 4 4 4 0 0 0 -4 4 4 4 0 0 0 -4 -4" /%3E%3Cpath transform="rotate(90) translate(0 -35) scale(0.8)" d="M -4 0 a 4 4 0 0 0 4 -4 4 4 0 0 0 4 4 4 4 0 0 0 -4 4 4 4 0 0 0 -4 -4" /%3E%3Cpath transform="rotate(-90) translate(0 -35) scale(0.8)" d="M -4 0 a 4 4 0 0 0 4 -4 4 4 0 0 0 4 4 4 4 0 0 0 -4 4 4 4 0 0 0 -4 -4" /%3E%3C/g%3E%3Cg transform="translate(0 54)"%3E%3Cg stroke-linecap="round" stroke-linejoin="round" stroke-width="2"%3E%3Cg stroke="none"%3E%3Ccircle fill="none" r="25" cy="-24"/%3E%3Cg fill="hsl(215, 10%25, 97%25)"%3E%3Cpath d="M 23 -30 a 7.5 7.5 0 0 1 0 14 18 18 0 0 0 0 -14"/%3E%3Cpath transform="scale(-1 1)" d="M 23 -30 a 7.5 7.5 0 0 1 0 14 18 18 0 0 0 0 -14"/%3E%3Cpath d="M -25 -24 a 25 25 0 0 1 50 0 26 26 0 0 0 -50 0" /%3E%3Cpath d="M -25 -24 a 25 25 0 0 0 50 0 25.2 25.2 0 0 1 -50 0" /%3E%3Cpath d="M -8 -35 a 12.5 12.5 0 0 0 5 27.5 27.5 27.5 0 0 1 -5 -27.5" /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

header::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 20px;
  transform: scaleY(-1);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="25 -20 100 40"%3E%3Cg fill="currentColor" stroke="none"%3E%3Cpath d="M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0" /%3E%3C/g%3E%3C/svg%3E');
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="25 -20 100 40"%3E%3Cg fill="currentColor" stroke="none"%3E%3Cpath d="M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0" /%3E%3C/g%3E%3C/svg%3E');
  -webkit-mask-size: 100px 40px;
  mask-size: 100px 40px;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
}

header h1 {
  color: inherit;
  font-size: 2.25rem;
  line-height: 1.25;
  max-width: 40rem;
  text-align: center;
  margin: 0 auto;
}

header ul {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  z-index: 5;
}

header ul li {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 50%;
  margin: 0px 22.5px;
  width: 55px;
  height: 55px;
  color: hsl(215, 22%, 5%);
  color: var(--grey-0);
  background: hsl(215, 10%, 97%);
  background: var(--grey-10);
  border: 0.3rem solid currentColor;
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
}

@supports (display: grid) {
  header ul {
    align-items: initial;
    display: grid;
    grid-auto-columns: 100px;
    justify-items: center;
    grid-auto-flow: column;
  }

  header ul li {
    flex-shrink: initial;
    margin: 0px;
  }
}

header ul li svg {
  height: 100%;
  width: auto;
}

header ul li:hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

header ul::-webkit-scrollbar {
  height: 0.3rem;
}

header ul::-webkit-scrollbar-track {
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
}

header ul::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: hsl(340, 90%, 55%);
  background: var(--primary-6);
}

main {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 40rem;
  line-height: 2;
  margin: 4rem auto 5rem;
}

main > * + * {
  margin-top: 0.5rem;
}

main h2 {
  margin-top: 1.25rem;
}

/* components */
main p > code {
  font-weight: 700;
  font-family: inherit;
  color: hsl(215, 10%, 97%);
  color: var(--frappe-grey-10);
  background: hsl(229, 20%, 20%);
  background: var(--palenight-theme);
  box-shadow: 0 0.2rem hsl(212, 12%, 45%);
  box-shadow: 0 0.2rem var(--frappe-grey-5);
  border-radius: 0.25rem;
  padding: 0.25rem 0.4rem;
  white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) main p > code {
    font-weight: 600;
  }
}

body[data-preference='dark'] main p > code {
  font-weight: 600;
}

main .code {
  margin: 1rem 0;
}

main .code > span,
main .code pre {
  border-radius: 0.4rem;
  padding: 0.8rem 1rem;
}

main .code > span {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500;
  color: hsl(215, 10%, 97%);
  color: var(--frappe-grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
  display: flex;
  align-items: center;
}

main .code > span svg {
  width: 1.25em;
  height: auto;
  margin-right: 0.5rem;
}

main .code:hover > span {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

main .code pre {
  font-size: 1rem;
  margin: 0;
  color: hsl(214, 15%, 88%);
  color: var(--frappe-grey-9);
  background: hsl(229, 20%, 20%);
  background: var(--palenight-theme);
  line-height: 2;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

main .code pre {
  overflow-x: auto;
}

main .code pre::-webkit-scrollbar {
  height: 0.4rem;
}

main .code pre::-webkit-scrollbar-track {
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
}

main .code pre::-webkit-scrollbar-thumb {
  background: hsl(340, 90%, 55%);
  background: var(--primary-6);
  border-radius: 0.2rem;
}

main h2 {
  font-size: 2rem;
}

main h3 {
  font-size: 1.8rem;
}

main h4 {
  font-size: 1.6rem;
}

.permalink {
  display: flex;
  align-items: center;
}

.permalink a {
  opacity: 0.2;
  margin-left: 0.5rem;
  width: 1em;
  height: 1em;
  transition-property: opacity, color;
  transition-duration: 0.25s;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-timing-function: var(--ease-in-out-sine);
}

.permalink a:focus {
  opacity: 1;
}

.permalink a:hover {
  opacity: 1;
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

.permalink a svg {
  width: 100%;
  height: auto;
}

main ol,
main ul {
  list-style: none;
  --badge-size: 1.3em;
  margin-left: 1.3em;
  margin-left: var(--badge-size);
}

main ul > * + *,
main ol > * + * {
  margin-top: 0.6rem;
}

main ul ul,
main ol ol {
  margin-top: 0.6rem;
  margin-left: 1.3em;
  margin-left: var(--badge-size);
}

main li {
  line-height: 2;
}

main ol {
  counter-reset: custom-counter;
}

main ol li {
  position: relative;
}

main ol li::before {
  content: counter(custom-counter);
  counter-increment: custom-counter;
  position: absolute;
  top: 0;
  right: 100%;
  width: 1.3em;
  width: var(--badge-size);
  height: 1.3em;
  height: var(--badge-size);
  transform: translate(-0.25em, 0%);
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  font-weight: 700;
  text-align: center;
  line-height: 1.25;
}

main ol li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 1.3em;
  width: var(--badge-size);
  height: 1.3em;
  height: var(--badge-size);
  transform: translate(-0.25em, 0%);
  border-radius: 50%;
  border: 0.15rem solid hsl(340, 90%, 55%);
  border: 0.15rem solid var(--primary-6);
}

main ul li {
  position: relative;
}

main ul li::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 0.8em;
  height: 0.8em;
  transform: translate(-0.25em, 0%);
  background: hsl(340, 90%, 55%);
  background: var(--primary-6);
  border-radius: 50%;
}

@supports ((mask-image: url()) or (-webkit-mask-image: url())) {
  main ol,
  main ul {
    --badge-size: 1.6em;
    margin-left: 1.6em;
    margin-left: var(--badge-size);
  }

  main ul ul,
  main ol ol {
    margin-left: 1.6em;
    margin-left: var(--badge-size);
  }

  main ol li::before {
    right: initial;
    left: -0.25em;
    width: 1.6em;
    width: var(--badge-size);
    height: 1.6em;
    height: var(--badge-size);
    transform: translate(-100%, 0%);
    line-height: 1.5;
  }

  main ol li::after {
    border: initial;
    border-radius: initial;
    right: initial;
    left: -0.25em;
    width: 1.6em;
    width: var(--badge-size);
    height: 1.6em;
    height: var(--badge-size);
    transform: translate(-100%, 0%);
    background: hsl(340, 90%, 55%);
    background: var(--primary-6);
    mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="none" stroke="currentColor" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 36 25 c 15 -5 27 -10 36 -25 v -55 q -18 0 -36 -10z" /%3E%3C/g%3E%3C/svg%3E');
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="none" stroke="currentColor" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 36 25 c 15 -5 27 -10 36 -25 v -55 q -18 0 -36 -10z" /%3E%3C/g%3E%3C/svg%3E');
  }

  main ul li::before {
    border-radius: initial;
    right: initial;
    left: -0.25em;
    width: 1.6em;
    width: var(--badge-size);
    height: 1.6em;
    height: var(--badge-size);
    transform: translate(-100%, 0%);
    mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="none" stroke="currentColor" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 36 25 c 15 -5 27 -10 36 -25 v -55 q -18 0 -36 -10z" /%3E%3Cpath d="M -17 -0 l 12 12 21 -21" /%3E%3C/g%3E%3C/svg%3E');
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="none" stroke="currentColor" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 36 25 c 15 -5 27 -10 36 -25 v -55 q -18 0 -36 -10z" /%3E%3Cpath d="M -17 -0 l 12 12 21 -21" /%3E%3C/g%3E%3C/svg%3E');
  }
}

@media (prefers-color-scheme: dark) {
  body:not([data-preference]) main ol li::before {
    font-weight: 600;
  }
}

body[data-preference='dark'] main ol li::before {
  font-weight: 600;
}

main blockquote {
  align-self: center;
  text-align: center;
  line-height: 2;
  padding: 0.75rem 2rem;
  border-radius: 0.4rem;
  background: hsl(330, 100%, 92%);
  background: var(--primary-10);
  color: hsl(350, 100%, 8%);
  color: var(--primary-0);
  position: relative;
}

main blockquote::before,
main blockquote::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 3em;
  height: 3em;
  transform: translate(-50%, -50%);
  background: hsl(340, 90%, 55%);
  background: var(--primary-6);
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="currentColor" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M -10 0 a 10 10 0 0 0 10 -10 10 10 0 0 0 10 10 10 10 0 0 0 -10 10 10 10 0 0 0 -10 -10" /%3E%3Cpath d="M -10 0 a 10 10 0 0 0 10 -10 10 10 0 0 0 10 10 10 10 0 0 0 -10 10 10 10 0 0 0 -10 -10" transform="translate(-20 -20) scale(0.9)"/%3E%3Cpath d="M -10 0 a 10 10 0 0 0 10 -10 10 10 0 0 0 10 10 10 10 0 0 0 -10 10 10 10 0 0 0 -10 -10" transform="translate(20 -25) scale(0.5)"/%3E%3Cpath d="M -10 0 a 10 10 0 0 0 10 -10 10 10 0 0 0 10 10 10 10 0 0 0 -10 10 10 10 0 0 0 -10 -10" transform="translate(15 25) scale(0.8)"/%3E%3Cpath d="M -10 0 a 10 10 0 0 0 10 -10 10 10 0 0 0 10 10 10 10 0 0 0 -10 10 10 10 0 0 0 -10 -10" transform="translate(-15 20) scale(0.4)"/%3E%3C/g%3E%3C/svg%3E');
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="currentColor" stroke="currentColor" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpath d="M -10 0 a 10 10 0 0 0 10 -10 10 10 0 0 0 10 10 10 10 0 0 0 -10 10 10 10 0 0 0 -10 -10" /%3E%3Cpath d="M -10 0 a 10 10 0 0 0 10 -10 10 10 0 0 0 10 10 10 10 0 0 0 -10 10 10 10 0 0 0 -10 -10" transform="translate(-20 -20) scale(0.9)"/%3E%3Cpath d="M -10 0 a 10 10 0 0 0 10 -10 10 10 0 0 0 10 10 10 10 0 0 0 -10 10 10 10 0 0 0 -10 -10" transform="translate(20 -25) scale(0.5)"/%3E%3Cpath d="M -10 0 a 10 10 0 0 0 10 -10 10 10 0 0 0 10 10 10 10 0 0 0 -10 10 10 10 0 0 0 -10 -10" transform="translate(15 25) scale(0.8)"/%3E%3Cpath d="M -10 0 a 10 10 0 0 0 10 -10 10 10 0 0 0 10 10 10 10 0 0 0 -10 10 10 10 0 0 0 -10 -10" transform="translate(-15 20) scale(0.4)"/%3E%3C/g%3E%3C/svg%3E');
}

main blockquote::after {
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%) scale(-1);
}

main table {
  /* 0.7rem for the pseudo element, 1rem to match the vertical space of the code snippet component */
  margin-top: 1.7rem;
  line-height: 2;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.4rem;
  color: hsl(214, 15%, 88%);
  color: var(--frappe-grey-9);
  background: hsl(229, 20%, 20%);
  background: var(--palenight-theme);
  font-feature-settings: 'tnum';
  position: relative;
}

main table::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0%;
  width: 100%;
  height: 0.7rem;
  border-radius: 0.4rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
  background-position: 0 100%;
}

main table thead tr {
  text-align: left;
}

main table thead tr th {
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
}

main table thead tr th:hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

main table thead tr {
  color: hsl(215, 10%, 97%);
  color: var(--frappe-grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
}

main table thead tr th {
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0 1rem 0.7rem;
}

main table tbody tr td {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

main table tbody tr:nth-last-of-type(even) td {
  background: hsl(210, 20%, 12%);
  background: var(--frappe-grey-1);
}

main table [align='right'] {
  text-align: right;
}

main table [align='center'] {
  text-align: center;
}

footer {
  margin-top: auto;
  --animation-duration: 2s;
  --animation-timing-function: var(--ease-in-out-sine);
  text-align: center;
  padding: 2.25rem 1rem 2rem;
  color: hsl(215, 10%, 97%);
  color: var(--frappe-grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--frappe-grey-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
  position: relative;
}

footer::before {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 100%;
  width: 100%;
  height: 20px;
  background: inherit;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg opacity="0.5"%3E%3Cg fill="currentColor" stroke="none"%3E%3Ccircle r="12" /%3E%3Ccircle r="12" transform="translate(50 -50)" /%3E%3Ccircle r="12" transform="translate(50 50)" /%3E%3Ccircle r="12" transform="translate(-50 50)" /%3E%3Ccircle r="12" transform="translate(-50 -50)" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-size: 20px;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="25 -20 100 40"%3E%3Cg fill="currentColor" stroke="none"%3E%3Cpath d="M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0" /%3E%3C/g%3E%3C/svg%3E');
  mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="25 -20 100 40"%3E%3Cg fill="currentColor" stroke="none"%3E%3Cpath d="M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0" /%3E%3C/g%3E%3C/svg%3E');
  -webkit-mask-size: 100px 40px;
  mask-size: 100px 40px;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
}

footer a {
  padding: 0.2rem 0;
  border: initial;
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  border-bottom: 0.1rem solid hsl(340, 90%, 55%);
  border-bottom: 0.1rem solid var(--primary-6);
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color 0.25s var(--ease-in-out-sine);
}

footer a:hover,
footer a:focus {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  outline: none;
}

footer a:focus {
  outline: none;
}

footer a::before,
footer a::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -8px;
}

footer a::before {
  width: 64px;
  height: 64px;
  color: hsl(215, 22%, 5%);
  color: var(--grey-0);
  background: hsl(215, 10%, 97%);
  background: var(--grey-10);
  border: 0.4rem solid currentColor;
  border-radius: 50%;
  transition: color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color var(--transition-duration) var(--ease-in-out-sine);
}

footer a::after {
  transform: translate(-50%, -50%) scale(1);
  width: 28px;
  height: 28px;
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  border-radius: 50%;
  transition: background 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: background var(--transition-duration) var(--ease-in-out-sine);
}

@supports ((mask-image: url()) or (-webkit-mask-image: url())) {
  footer a::after {
    border-radius: initial;
    mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="currentColor" stroke="currentColor" stroke-width="10" stroke-linejoin="round" stroke-linecap="round"%3E%3Cpath d="M 0 -11.25 a 22.5 22.5 0 0 1 45 0 q 0 25 -45 50 q -45 -25 -45 -50 a 22.5 22.5 0 0 1 45 0" /%3E%3C/g%3E%3C/svg%3E');
    -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100"%3E%3Cg fill="currentColor" stroke="currentColor" stroke-width="10" stroke-linejoin="round" stroke-linecap="round"%3E%3Cpath d="M 0 -11.25 a 22.5 22.5 0 0 1 45 0 q 0 25 -45 50 q -45 -25 -45 -50 a 22.5 22.5 0 0 1 45 0" /%3E%3C/g%3E%3C/svg%3E');
  }
}

footer a::after {
  animation: heart-beat 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation: heart-beat var(--animation-duration)
    var(--animation-timing-function) infinite;
  animation-play-state: paused;
}

@keyframes heart-beat {
  10%,
  30% {
    transform: translate(-50%, -50%) scale(0.7);
  }

  0%,
  20%,
  40% {
    transform: translate(-50%, -50%) scale(1);
  }
}

footer a:hover::before,
footer a:focus::before {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

footer a:hover::after,
footer a:focus::after {
  background: currentColor;
  animation-play-state: running;
}

@media (prefers-reduced-motion: reduce) {
  footer a:hover::after,
  footer a:focus::after {
    animation-play-state: paused;
  }
}
