/* skip to content */
#skip-to-content {
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  font-size: 2rem;
  display: flex;
  width: max-content;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0.5rem 1rem;
  z-index: 5;
}
#skip-to-content svg {
  width: 1em;
  height: auto;
  margin-left: 0.5rem;
}

/* breadcrumb navigation */
nav {
  max-width: 40rem;
  width: 90vw;
  margin: 0 auto;
  padding: 0.5rem 0;
}

nav a {
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.25rem 0;
  display: inline-flex;
  align-items: center;
}

nav a svg {
  margin: 0 0.2rem 0 0.4rem;
  width: 1.5em;
  height: auto;
}

header {
  color: hsl(215, 10%, 97%);
  color: var(--grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='20' height='20'%3E%3Cg opacity='0.4'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='10' /%3E%3Ccircle r='10' transform='translate(50 -50)' /%3E%3Ccircle r='10' transform='translate(50 50)' /%3E%3Ccircle r='10' transform='translate(-50 50)' /%3E%3Ccircle r='10' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 5px 5px;
  text-align: center;
  padding: 5rem 1.5rem;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='20' height='20'%3E%3Cg opacity='0.4'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='10' /%3E%3Ccircle r='10' transform='translate(50 -50)' /%3E%3Ccircle r='10' transform='translate(50 50)' /%3E%3Ccircle r='10' transform='translate(-50 50)' /%3E%3Ccircle r='10' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 5px 4px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40' width='100' height='40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40' width='100' height='40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 20px;
  transform: translateY(-1px) scaleY(-1);
}

header h1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 1.25;
  max-width: 15em;
  text-align: center;
  margin: 0 auto;
}

header ul {
  z-index: 5;
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
}

header ul li {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  color: hsl(215, 22%, 5%);
  color: var(--grey-0);
  background: hsl(215, 10%, 97%);
  background: var(--grey-10);
  border: 0.3rem solid currentColor;
  margin: 0px 22.5px;
  border-radius: 50%;
  padding: 10px;
  transition: color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color 0.3s var(--ease-in-out-sine);
}

@supports (display: grid) {
  header ul {
    display: grid;
    grid-auto-columns: 100px;
    justify-items: center;
    align-items: initial;
    grid-auto-flow: column;
  }
  header ul li {
    margin: 0px;
    flex-shrink: initial;
  }
}

header ul li svg {
  height: 100%;
  width: auto;
}

header ul li:hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

header ul::-webkit-scrollbar {
  height: 0.2rem;
  transform: rotate(0.5turn);
}

header ul::-webkit-scrollbar-track {
  background: currentColor;
}

header ul::-webkit-scrollbar-thumb {
  background: hsl(340, 90%, 55%);
  background: var(--primary-6);
}

main {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 40em;
  line-height: 2;
  font-size: 1rem;
  margin: 4.25rem auto 5rem;
}
main p {
  color: var(--grey-1);
}
main > * + * {
  margin-top: 0.5rem;
}
main h2 {
  margin-top: 1.25rem;
}

main > pre {
  margin: 1rem 0;
  padding: 0rem;
}

main > pre code {
  font-size: 0.8rem;
}

main p > code {
  background: hsl(340, 90%, 55%);
  background: var(--primary-6);
  color: hsl(215, 10%, 97%);
  color: var(--grey-10);
  border-radius: 0.2rem;
  padding: 0 0.25rem;
  display: inline-block;
  line-height: 1.5;
}

main > pre .shiki,
main > pre div {
  line-height: 2;
  padding: 0.5rem 0.75rem;
  border-radius: 0.4rem;
}

main > pre .shiki {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
}

main > pre div {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

main > pre div {
  color: hsl(215, 10%, 97%);
  color: var(--grey-10);
  background: hsl(220, 100%, 5%);
  background: var(--grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='20' height='20'%3E%3Cg opacity='0.4'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='10' /%3E%3Ccircle r='10' transform='translate(50 -50)' /%3E%3Ccircle r='10' transform='translate(50 50)' /%3E%3Ccircle r='10' transform='translate(-50 50)' /%3E%3Ccircle r='10' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 5px 5px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  transform: translateY(1px);
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color 0.25s var(--ease-in-out-sine);
}

main > pre div svg {
  width: 1.25em;
  height: auto;
}

main > pre div span {
  margin-left: 0.4rem;
}

main > pre:hover div {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

main pre {
  overflow-x: auto;
}
main pre::-webkit-scrollbar {
  height: 0.4rem;
}
main pre::-webkit-scrollbar-track {
  background: currentColor;
}
main pre::-webkit-scrollbar-thumb {
  background: hsl(340, 90%, 55%);
  background: var(--primary-6);
  border-radius: 0.2rem;
}

main h2 {
  font-size: 2rem;
}
main h3 {
  font-size: 1.8rem;
}
main h4 {
  font-size: 1.6rem;
}

main .permalink {
  display: flex;
  align-items: center;
}

main .permalink a {
  opacity: 0.25;
  margin-left: 0.5rem;
  width: 1em;
  height: 1em;
  transition-property: opacity, color;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-timing-function: var(--ease-in-out-sine);
}

main .permalink a:focus {
  opacity: 1;
}

main .permalink a:hover {
  opacity: 1;
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

main .permalink a svg {
  transform: rotate(-45deg);
  width: 100%;
  height: auto;
}

main ol,
main ul {
  margin: 1rem 0;
  list-style: none;
  margin-left: 1.7em;
}

main ul > * + *,
main ol > * + * {
  margin-top: 0.6rem;
}

main ul ul,
main ol ol {
  margin-top: 0.6rem;
  margin-left: 1.7em;
}

main li {
  line-height: 2;
}

main ol {
  counter-reset: custom-counter;
}

main ol li {
  position: relative;
}

main ol li::before {
  content: counter(custom-counter);
  counter-increment: custom-counter;
  color: var(--primary-6);
  position: absolute;
  top: 0;
  left: -0.35em;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  text-align: center;
  transform: translate(-100%, 0%);
  font-size: 0.9em;
  font-family: "Maven Pro";
  font-weight: 700;
}

main ol li::after {
  content: "";
  position: absolute;
  top: 0;
  font-size: 0.9em;
  left: -0.35em;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.7em;
  transform: translate(-100%, 0%);
  background: var(--primary-6);
  mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' aria-focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='1em' height='1em'%3E%3Cg fill='none' stroke='currentColor' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 35 25 c 15 -5 27 -10 35 -25 v -55 q -18 0 -36 -10' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' aria-focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='1em' height='1em'%3E%3Cg fill='none' stroke='currentColor' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 35 25 c 15 -5 27 -10 35 -25 v -55 q -18 0 -36 -10' /%3E%3C/g%3E%3C/svg%3E");
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

main ul li {
  position: relative;
}

main ul li::before {
  content: "";
  position: absolute;
  top: 0;
  font-size: 0.9em;
  left: -0.35em;
  width: 1.7em;
  height: 1.7em;
  transform: translate(-100%, 0%);
  background: var(--primary-6);
  mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' aria-focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='1em' height='1em'%3E%3Cg fill='none' stroke='currentColor' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 35 25 c 15 -5 27 -10 35 -25 v -55 q -18 0 -36 -10' /%3E%3Cpath d='M -17 -0 l 12 12 21 -21' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' aria-focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='1em' height='1em'%3E%3Cg fill='none' stroke='currentColor' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 35 25 c 15 -5 27 -10 35 -25 v -55 q -18 0 -36 -10' /%3E%3Cpath d='M -17 -0 l 12 12 21 -21' /%3E%3C/g%3E%3C/svg%3E");
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

main blockquote {
  margin: 1rem 0;
  align-self: center;
  line-height: 2;
  padding: 1rem 2.5rem;
  font-style: italic;
  color: hsl(350, 100%, 8%);
  color: var(--primary-0);
  background: hsl(330, 100%, 92%);
  background: var(--primary-10);
  border-radius: 0.4rem;
  position: relative;
}

main blockquote::before,
main blockquote::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  width: 1.5em;
  height: 1.5em;
  transform: translate(-50%, -50%);
  background: hsl(340, 90%, 55%);
  background: var(--primary-6);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' aria-focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='1em' height='1em'%3E%3Cg fill='currentColor' stroke-width='10' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round'%3E%3Cpath d='M -23 -27 c -20 8 -37.5 72 0 72 a 16 16 0 0 0 0 -32 c -20 0 -15 -35 0 -40' /%3E%3Cpath d='M 29 -45 c -20 8 -37.5 72 0 72 a 16 16 0 0 0 0 -32 c -20 0 -15 -35 0 -40' /%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' aria-focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='1em' height='1em'%3E%3Cg fill='currentColor' stroke-width='10' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round'%3E%3Cpath d='M -23 -27 c -20 8 -37.5 72 0 72 a 16 16 0 0 0 0 -32 c -20 0 -15 -35 0 -40' /%3E%3Cpath d='M 29 -45 c -20 8 -37.5 72 0 72 a 16 16 0 0 0 0 -32 c -20 0 -15 -35 0 -40' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

main blockquote::after {
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%) scale(-1);
}

main table {
  margin: 1rem 0;
  margin-top: 1.7rem;
  line-height: 2;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.4rem;
  color: hsl(214, 15%, 88%);
  color: var(--grey-9);
  background: hsl(229, 20%, 20%);
  background: var(--palenight-theme);
  font-feature-settings: "tnum";
  position: relative;
}

main table::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0%;
  width: 100%;
  height: 0.7rem;
  transform: translateY(1px);
  border-radius: 0.4rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='20' height='20'%3E%3Cg opacity='0.4'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='10' /%3E%3Ccircle r='10' transform='translate(50 -50)' /%3E%3Ccircle r='10' transform='translate(50 50)' /%3E%3Ccircle r='10' transform='translate(-50 50)' /%3E%3Ccircle r='10' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 5px -5px;
}

main table thead tr {
  text-align: left;
}

main table thead tr th {
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color 0.25s var(--ease-in-out-sine);
}

main table thead tr th:hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

main table thead tr {
  color: hsl(215, 10%, 97%);
  color: var(--grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='20' height='20'%3E%3Cg opacity='0.4'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='10' /%3E%3Ccircle r='10' transform='translate(50 -50)' /%3E%3Ccircle r='10' transform='translate(50 50)' /%3E%3Ccircle r='10' transform='translate(-50 50)' /%3E%3Ccircle r='10' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 5px 5px;
}

main table thead tr th {
  padding: 0 1rem 0.7rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

main table tbody tr td {
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  font-family: "Source Code Pro", monospace;
}

main table tbody tr:nth-last-of-type(even) td {
  background: hsl(210, 20%, 12%);
  background: var(--grey-1);
}

main table [align="right"] {
  text-align: right;
}

main table [align="center"] {
  text-align: center;
}

footer {
  --animation-duration: 2s;
  --animation-timing-function: var(--ease-in-out-sine);
  color: hsl(215, 10%, 97%);
  color: var(--grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='20' height='20'%3E%3Cg opacity='0.4'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='10' /%3E%3Ccircle r='10' transform='translate(50 -50)' /%3E%3Ccircle r='10' transform='translate(50 50)' /%3E%3Ccircle r='10' transform='translate(-50 50)' /%3E%3Ccircle r='10' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 5px 5px;
  padding: 2.25rem 1rem 2rem;
  text-align: center;
  position: relative;
  margin-top: auto;
}

footer::before {
  content: "";
  background: inherit;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='20' height='20'%3E%3Cg opacity='0.4'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='10' /%3E%3Ccircle r='10' transform='translate(50 -50)' /%3E%3Ccircle r='10' transform='translate(50 50)' /%3E%3Ccircle r='10' transform='translate(-50 50)' /%3E%3Ccircle r='10' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 5px 5px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40' width='100' height='40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40' width='100' height='40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
  position: absolute;
  left: 0%;
  bottom: 100%;
  width: 100%;
  height: 20px;
  transform: translateY(1px);
}

footer a {
  border: initial;
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  padding: 0.2rem 0;
  font-size: 0.95rem;
  font-weight: 600;
  border-bottom: 0.1rem solid hsl(340, 90%, 55%);
  border-bottom: 0.1rem solid var(--primary-6);
  transition: color 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color 0.25s var(--ease-in-out-sine);
}

footer a:focus {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  background: none;
  border-bottom-color: hsl(340, 90%, 55%);
}

footer span {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 64px;
  height: 64px;
  display: block;
  transform: translate(-50%, -50%);
  padding: 12px;
  margin-top: -8px;

  color: hsl(215, 22%, 5%);
  color: var(--grey-0);
  background: hsl(215, 10%, 97%);
  background: var(--grey-10);

  border: 0.4rem solid currentColor;
  border-radius: 50%;
  transition: color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: color 0.3s var(--ease-in-out-sine);
}
footer span svg {
  width: 100%;
  height: auto;
}
footer svg g {
  animation: heart-beat 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  animation: heart-beat var(--animation-duration) var(--animation-timing-function) infinite;
  animation-play-state: paused;
}

@keyframes heart-beat {
  10%,
  30% {
    transform: scale(0.8);
  }
  0%,
  20%,
  40% {
    transform: scale(1);
  }
}

footer a:hover + span,
footer a:focus + span {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}
footer a:hover + span svg g,
footer a:focus + span svg g {
  animation-play-state: running;
}

footer span:hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

@media (prefers-reduced-motion: reduce) {
  footer a:hover + span svg g,
  footer a:focus + span svg g,
  footer span svg:hover g {
    animation-play-state: paused;
  }
}
