---
title: Hand of time
description: A post mortem for an interactive display with a huge unanswered question.
date: 2024-12-14
---

<script>
  import Hand from "./Hand.svelte";
</script>

<figure class="center-frame" data-size="medium">
  <Hand />
</figure>
