header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem 2rem;
  color: hsl(215, 10%, 97%);
  color: var(--grey-10);
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg opacity='0.5'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='12' /%3E%3Ccircle r='12' transform='translate(50 -50)' /%3E%3Ccircle r='12' transform='translate(50 50)' /%3E%3Ccircle r='12' transform='translate(-50 50)' /%3E%3Ccircle r='12' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 0 98%;
  background-position: 0 calc(100% - 5px);
  position: relative;
}

/*
  [40 - 75]rem width
  [1.5 - 1.8]rem font-size
*/
header {
  font-size: 1.8rem;
  font-size: calc(1.5rem + (1.8 - 1.5) * (100vw - 40rem) / (75 - 40));
}

@media (min-width: 75rem) {
  header {
    font-size: 1.8rem;
  }
}

@media (max-width: 40rem) {
  header {
    font-size: 1.5rem;
  }
}

header::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 20px;
  transform: translateY(-1px) scaleY(-1);
  background: hsl(215, 22%, 5%);
  background: var(--grey-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg opacity='0.5'%3E%3Cg fill='currentColor' stroke='none'%3E%3Ccircle r='12' /%3E%3Ccircle r='12' transform='translate(50 -50)' /%3E%3Ccircle r='12' transform='translate(50 50)' /%3E%3Ccircle r='12' transform='translate(-50 50)' /%3E%3Ccircle r='12' transform='translate(-50 -50)' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  background-position: 0px 4px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='25 -20 100 40'%3E%3Cg fill='currentColor' stroke='none'%3E%3Cpath d='M 0 -15 c 50 -17.5 50 17.5 100 0 c 50 -17.5 50 17.5 100 0 v 30 c -50 17.5 -50 -17.5 -100 0 c -50 17.5 -50 -17.5 -100 0' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-size: 100px 40px;
  mask-size: 100px 40px;
  -webkit-mask-position: 50% 0;
  mask-position: 50% 0;
}

header > svg {
  order: -1;
  width: 18em;
  max-width: 90vw;
  height: auto;
  --transition-duration: 0.4s;
}

header > svg .borntofrappe {
  transition: transform 0.4s cubic-bezier(0.68, -0.5, 0.265, 1.55),
    color 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform var(--transition-duration) var(--ease-in-out-back),
    color var(--transition-duration) var(--ease-in-out-sine);
}

header > svg .borntofrappe:hover {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  transform: scale(1.25) rotate(-10deg);
}

header > svg a {
  transition: transform 0.4s cubic-bezier(0.68, -0.5, 0.265, 1.55),
    color 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: transform var(--transition-duration) var(--ease-in-out-back),
    color var(--transition-duration) var(--ease-in-out-sine);
  transform: scale(0.85);
  outline: none;
}

header > svg a .text {
  transform: scale(0);
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform var(--transition-duration) var(--ease-out-cubic);
}

header > svg a:hover,
header > svg a:focus,
header > svg a:hover .text,
header > svg a:focus .text {
  transform: scale(1);
}

header > svg a:focus {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
}

header ul {
  display: block;
  margin-left: 2em;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: -0.5px;
  font-weight: 700;
  list-style: none;
  text-transform: capitalize;
}

@media (max-width: 40rem) {
  header ul {
    letter-spacing: 0px;
  }
}

header ul li {
  line-height: 1.75;
}

header ul > * + * {
  margin-top: 1.25rem;
}

header ul li {
  position: relative;
}

header ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -0.2em;
  width: 1.6em;
  height: 1.6em;
  transform: translate(-100%, 0%);
  background: hsl(340, 90%, 55%);
  background: var(--primary-6);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg fill='none' stroke='currentColor' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 35 25 c 15 -5 27 -10 35 -25 v -55 q -18 0 -36 -10z' /%3E%3Cpath d='M -17 -0 l 12 12 21 -21' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100'%3E%3Cg fill='none' stroke='currentColor' stroke-width='10' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M 0 -45 q -18 10 -36 10 v 55 c 8 15 20 20 35 25 c 15 -5 27 -10 35 -25 v -55 q -18 0 -36 -10z' /%3E%3Cpath d='M -17 -0 l 12 12 21 -21' /%3E%3C/g%3E%3C/svg%3E");
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
