{%- macro meta(title, description, staticFolder, imageName, imageAlt) %}
    <title>{{title | replace("/", " / ")}}</title>

    <link rel="icon" href="{{staticFolder}}/icon.svg" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{staticFolder}}/icon-16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{staticFolder}}/icon-32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{staticFolder}}/apple-touch-icon.png" />

    <meta name="description" content="{{description}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    
    <meta property="og:image" content="{{staticFolder}}/{{imageName}}.png" />
    <meta property="og:image:alt" content="{{imageAlt}}" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{title}}" />
    <meta property="twitter:description" content="{{description}}" />
    <meta property="twitter:image" content="{{staticFolder}}/{{imageName}}.png" />
    <meta property="twitter:image:alt" content="{{imageAlt}}" />
{% endmacro -%}