---
title: Valid entry
description: Approximate the sheer number of possible custom elements.
date: 2024-04-26T11:11:09
---

<script>
	import svg from './svg';
</script>

<figure
	class="[ center-frame ]"
	data-size="large"
	style="--_color-0: hsl(204 14% 58%); --_color-1: hsl(0 0% 20%);"
>
	{@html svg['pcenchar']}
</figure>
