<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heading</title>
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="../../Meta Tags/static/icon.svg" />
    <link rel="icon" type="image/png" sizes="16x16" href="../../Meta Tags/static/icon-16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../Meta Tags/static/icon-32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../Meta Tags/static/apple-touch-icon.png" />
  </head>
  <body>
    <!-- main to center the content -->
    <main>
      <h2 class="permalink" id="heading-2">
        h2 heading
        <a href="#heading-2">
          <span class="visually-hidden">permalink</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <g fill="none" stroke="currentColor" stroke-width="10" stroke-linejoin="round" stroke-linecap="round">
              <path stroke-dasharray="140 26" stroke-dashoffset="-18" d="M -24 9 a 21 21 0 0 1 0 -42 h 26 a 21 21 0 0 1 0 42 h -26" />
              <path transform="scale(-1 -1)" stroke-dasharray="140 26" stroke-dashoffset="-18" d="M -24 9 a 21 21 0 0 1 0 -42 h 26 a 21 21 0 0 1 0 42 h -26" />
            </g>
          </svg>
        </a>
      </h2>
      <h3 class="permalink" id="heading-3">
        h3 heading
        <a href="#heading-3">
          <span class="visually-hidden">permalink</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <g fill="none" stroke="currentColor" stroke-width="10" stroke-linejoin="round" stroke-linecap="round">
              <path stroke-dasharray="140 26" stroke-dashoffset="-18" d="M -24 9 a 21 21 0 0 1 0 -42 h 26 a 21 21 0 0 1 0 42 h -26" />
              <path transform="scale(-1 -1)" stroke-dasharray="140 26" stroke-dashoffset="-18" d="M -24 9 a 21 21 0 0 1 0 -42 h 26 a 21 21 0 0 1 0 42 h -26" />
            </g>
          </svg>
        </a>
      </h3>
      <h4 class="permalink" id="heading-4">
        h4 heading
        <a href="#heading-4">
          <span class="visually-hidden">permalink</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <g fill="none" stroke="currentColor" stroke-width="10" stroke-linejoin="round" stroke-linecap="round">
              <path stroke-dasharray="140 26" stroke-dashoffset="-18" d="M -24 9 a 21 21 0 0 1 0 -42 h 26 a 21 21 0 0 1 0 42 h -26" />
              <path transform="scale(-1 -1)" stroke-dasharray="140 26" stroke-dashoffset="-18" d="M -24 9 a 21 21 0 0 1 0 -42 h 26 a 21 21 0 0 1 0 42 h -26" />
            </g>
          </svg>
        </a>
      </h4>
    </main>
  </body>
</html>
