---
title: Lite output
description: SQLite modes.
date: 2024-06-13
---

<script>
	import svg from './svg.js';
	import LiteModes from './LiteModes.svelte';
</script>

<LiteModes />

<figure class="[ center-frame ]" data-size="small">
	{@html svg['help-mode']}
</figure>