---
title: Dry paint
description: Finally make due on a promise to use the Canvas API.
date: 2024-02-07
---

<script>
	import svg from './svg.js';
	import CanvasClient from './CanvasClient.svelte';
	import CanvasOffset from './CanvasOffset.svelte';
	import Canvas from './Canvas.svelte';
</script>

Without using SVG {@html svg['palette']}.

<CanvasClient />

<CanvasOffset />

<Canvas />
