.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.center-frame {
	display: block;
	max-inline-size: var(--frame-size, 22rem);
	margin-inline: auto;
}

.center-frame[data-size='small'] {
	--frame-size: 16rem;
}

.center-frame[data-size='medium'] {
	--frame-size: 36rem;
}

.center-frame[data-size='large'] {
	--frame-size: 44rem;
}

.side-frames {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-s, 1rem);
	justify-content: var(--justify, center);
	align-items: var(--align, center);
}

.side-frames > * {
	display: block;
	max-inline-size: var(--frame-size, 22rem);
	inline-size: 100%;
}