{% from "macros/meta.njk" import meta %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    {{meta(site, title, description)}}

    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600;700&family=Source+Code+Pro&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <style>
      {% include "css/global.css" %}
      {% include "css/base.css" %}
      
      {%- block style %}{% endblock -%}
    </style>
  </head>
  <body>
  {%- if hasContent %}
    <a href="#content" class="visually-hidden" id="skip-to-content">
      Skip to Content {{ icons.skip | safe}}
    </a>
  {% endif -%}

  <div class="navigation">
    <nav aria-label="Breadcrumb navigation">
      <a href="/">borntofrappe {{ icons.rocket | safe }}</a>
      
      {%- for breadcrumb in title | breadcrumbFilter %}
        <a href="{{breadcrumb.href}}">/ {{breadcrumb.value}} {{ icons[breadcrumb.value] | safe }}</a>
      {% endfor  -%}
    </nav>

    <button disabled>
      <span class="visually-hidden">Toggle color scheme</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="-75 -150 150 150"
        width="1em"
        height="1em">
        <g class="scale">
          <g class="rotate" fill="currentColor">
            <g transform="translate(0 -75)">
              <g transform="scale(-1 1)">
                <g class="rotate">
                  <g transform="scale(-1 1)">
                    <circle r="22" />
                    <circle transform="translate(0 41.2)" r="8.8" />
                    <circle
                      transform="rotate(45) translate(0 41.2)"
                      r="8.8"
                    />
                    <circle
                      transform="rotate(90) translate(0 41.2)"
                      r="8.8"
                    />
                    <circle
                      transform="rotate(135) translate(0 41.2)"
                      r="8.8"
                    />
                    <circle
                      transform="rotate(180) translate(0 41.2)"
                      r="8.8"
                    />
                    <circle
                      transform="rotate(225) translate(0 41.2)"
                      r="8.8"
                    />
                    <circle
                      transform="rotate(270) translate(0 41.2)"
                      r="8.8"
                    />
                    <circle
                      transform="rotate(315) translate(0 41.2)"
                      r="8.8"
                    />
                  </g>
                </g>
              </g>
            </g>
            <g transform="translate(0 75)">
              <g transform="scale(-1 1)">
                <g class="rotate">
                  <g transform="scale(-1 1)">
                    <g class="scale">
                      <path
                        d="M-5.435-27.43A28 28 0 000 28.02 28 28 0 0027.435 5.45 28 28 0 0122 6.019a28 28 0 01-27.435-33.43z"
                      />
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </button>
  </div>

  {%- block content %}{% endblock -%}

  <footer>
    <a href="https://twitter.com/borntofrappe">borntofrappe</a>
  </footer>

  {%- block script %}{% endblock -%}

  <script>
    function setPreference(preference) {
      document.body.setAttribute('data-preference', preference);
      window.localStorage.setItem('color-scheme', preference);
    }

    if (window.CSS && CSS.supports('--primary-6: hotpink')) {
      const button = document.querySelector('button');
      button.removeAttribute('disabled');

      const prefersColorScheme = window.matchMedia('(prefers-color-scheme: dark)');
      const colorScheme = window.localStorage.getItem('color-scheme');

      if (colorScheme) {
        setPreference(colorScheme);
      } else {
        setPreference(prefersColorScheme.matches ? 'dark' : 'light');
      }

      button.addEventListener('click', () =>
        setPreference(
          window.localStorage.getItem('color-scheme') === 'dark' ? 'light' : 'dark'
        )
      );
      prefersColorScheme.addListener(({ matches }) =>
        setPreference(matches ? 'dark' : 'light')
      );

      const timeout = setTimeout(() => {
        document.body.setAttribute('data-transition', 'true');
        clearTimeout(timeout);
      }, 0);
    }
  </script>
  </body>
</html>
