<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>borntofrappe</title>
  </head>
  <body>
  {% if hasContent %}
  <a href="#content" class="visually-hidden" id="skip-to-content">
    Skip to Content {{ icons.skip | safe}}
  </a>
  {% endif %}

  <nav>
    <a href="/">borntofrappe {{ icons.rocket | safe }}</a>
  </nav>

  {% block content %}
  {% endblock %}


  <footer>
    <a href="https://twitter.com/borntofrappe">borntofrappe</a>
    <span>
      <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
        <g fill="currentColor" stroke-width="10" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round">
          <path d="M 0 -11.25 a 22.5 22.5 0 0 1 45 0 q 0 25 -45 50 q -45 -25 -45 -50 a 22.5 22.5 0 0 1 45 0" />
        </g>
      </svg>
    </span>
  </footer>

  </body>
</html>
