{% from "macros/meta.njk" import meta %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml" />

    {{meta(url, description, staticFolder, imageName, imageAlt)}}
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{site.name}}" />
    <meta property="twitter:site" content="{{site.author.handle}}" />
    <meta property="twitter:creator" content="{{site.author.handle}}" />
    
    <style>
    {% include "css/global.css" %}
    {% include "css/base.css" %}
    {%- block style %}
    {% endblock -%}
    </style>
  </head>
  <body>
  {%- if hasContent %}
  <a href="#content" class="visually-hidden" id="skip-to-content">
    Skip to Content {{ icons.skip | safe}}
  </a>
  {% endif -%}

  <nav aria-label="Breadcrumb navigation">
    <a href="/">borntofrappe{{ icons.rocket | safe }}</a>
    {% set regExp = r/\// %}
    {%- if regExp.test(url) %}
      {%- for path in url | urlFilter %}
        <a href="{{path.href}}">/ {{path.value}}{{ icons[path.value] | safe }}</a>
      {% endfor  -%}
    {% endif -%}

    <button disabled>
      <span class="visually-hidden">Toggle color scheme</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="-75 -150 150 150"
        width="1em"
        height="1em"
      >
        <g class="scale">
          <g class="rotate" fill="currentColor" transform="rotate(0)">
            <g transform="translate(0 -75)">
              <g transform="scale(-1 1)">
                <g class="rotate" transform="rotate(0)">
                  <g transform="scale(-1 1)">
                    <circle r="22" />
                    <circle transform="rotate(0) translate(0 41.2)" r="8.8" />
                    <circle
                      transform="rotate(45) translate(0 41.2)"
                      r="8.8"
                    />
                    <circle
                      transform="rotate(90) translate(0 41.2)"
                      r="8.8"
                    />
                    <circle
                      transform="rotate(135) translate(0 41.2)"
                      r="8.8"
                    />
                    <circle
                      transform="rotate(180) translate(0 41.2)"
                      r="8.8"
                    />
                    <circle
                      transform="rotate(225) translate(0 41.2)"
                      r="8.8"
                    />
                    <circle
                      transform="rotate(270) translate(0 41.2)"
                      r="8.8"
                    />
                    <circle
                      transform="rotate(315) translate(0 41.2)"
                      r="8.8"
                    />
                  </g>
                </g>
              </g>
            </g>
            <g transform="translate(0 75)">
              <g transform="scale(-1 1)">
                <g class="rotate" transform="rotate(0)">
                  <g transform="scale(-1 1)">
                    <g class="scale">
                      <path
                        d="M-5.435-27.43A28 28 0 000 28.02 28 28 0 0027.435 5.45 28 28 0 0122 6.019a28 28 0 01-27.435-33.43z"
                      />
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </button>
  </nav>

  {%- block content %}
  {% endblock -%}

  <footer>
    <a href="https://twitter.com/borntofrappe">borntofrappe</a>
    <span>
      <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
        <g fill="currentColor" stroke-width="10" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round">
          <path d="M 0 -11.25 a 22.5 22.5 0 0 1 45 0 q 0 25 -45 50 q -45 -25 -45 -50 a 22.5 22.5 0 0 1 45 0" />
        </g>
      </svg>
    </span>
  </footer>

  {%- block script %}
  {% endblock -%}

  <script>
    const button = document.querySelector('nav button');
    button.removeAttribute('disabled');

    const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
    const colorScheme = window.localStorage.getItem('color-scheme');

    function setPreference(preference) {
      document.body.setAttribute('data-preference', preference);
      window.localStorage.setItem('color-scheme', preference);
    }

    if (colorScheme) {
      setPreference(colorScheme);
    } else {
      setPreference(mediaQuery.matches ? 'dark' : 'light');
    }

    button.addEventListener('click', () =>
      setPreference(
        window.localStorage.getItem('color-scheme') === 'dark' ? 'light' : 'dark'
      )
    );
    mediaQuery.addListener(({ matches }) =>
      setPreference(matches ? 'dark' : 'light')
    );

    const timeout = setTimeout(() => {
      document.body.setAttribute('data-transition', 'true');
      clearTimeout(timeout);
    }, 0);
  </script>
  </body>
</html>
