{% set hasContent = true %}
{% set heading = title %}
{% set slug = title | slug %}
{% set title = site.name + "/blog/" + slug %}
{% set description = description or "Description not found — feel free to report this issue @borntofrappe" %}

{% extends "layouts/base.njk" %}

{% block style %}
  {% include "css/post.css" %}
{% endblock %}

{% block content %}
<header>
  <h1>{{ heading }}</h1>
  {%- if keywords %}
    <h2 class="visually-hidden">Keywords</h2>
    <ul>
    {%- for keyword in keywords %}
      <li>
        <span class="visually-hidden">{{keyword}}</span>
        {{ icons[keyword] | safe }}
      </li>
    {% endfor -%}
    </ul>
  {% endif -%}
</header>

<main id="content">
  {{ content | safe }}
</main>
{% endblock %}