---
title: A coy introduction to SMIL
description: Introducing SMIL animation with a cutsy crisp visual
date: 2023-02-27T20:34:20
---

In the process of learning the SVG syntax for the `<path>` element I drew little vector graphics.
