---
title: Light custom elements
description: Extend regular HTML nodes.
date: 2024-05-14
---

<script>
	import text from './text.js';
</script>

```txt
  x   x
 xxx xxx
xxxxxxxxx
xxxxxxxxx
 xxxxxxx
  xxxxx
   xxx
    x
```

<figure class="[ center-frame ]">
	<pre>{text.heart}</pre>
</figure>

<figure class="[ center-frame ]">
	<pre>{text.rocket}</pre>
</figure>
