---
title: Extension cord
description: Extend custom elements.
date: 2024-04-11
---

<script>
	import svg from './svg.js';
	import Buttons from './Buttons.svelte';
</script>

<figure class="center-frame" data-size="medium">
	{@html svg['extends-puzzle']}
</figure>

<Buttons />
