---
title: Short on custom elements
description: Lament the lack of ubiquitous custom elements.
date: 2024-05-10
---

<script>
	import CustomFigure from './CustomFigure.svelte';
</script>

```html
<text-background>
	<text>Trumpet blast</text>
</text-background>
```

<CustomFigure />
