---
title: Let the sparks fly
description: Animate SVG sprites with CSS and JavaScript.
date: 2024-02-21
---

<script>
	import svg from './svg.js';
</script>

<figure class="[ center-frame ]" data-size="medium">
	{@html svg['sprites']}
</figure>
