---
title: Sparkling sprites
description: Animate an assortment of SVG sprites with CSS and JavaScript.
date: 2024-02-22
---

<script>
	import svg from './svg.js';
	import Timing from './Timing.svelte';
	import CSS from './CSS.svelte';
	import JavaScript from './JavaScript.svelte';
</script>

<figure class="[ center-frame ]">
	{@html svg['viewBox']}
</figure>

<figure class="[ center-frame ]">
	{@html svg['step-end']}
</figure>

<Timing />

<CSS />

<JavaScript />
