---
title: SVG transform
description: A soft introduction to SVG transformations
date: 2023-02-15 17:31:53
---

<script>
	import Center from '$lib/components/blog/Center.svelte';

    import Windmill from './Windmill.svelte';
</script>

With a basic grasp of source order and the `transform` attribute you can create pretty little decorations.

<Center maxInlineSize="20rem">
    <Windmill />
</Center>
