---
title: SVG quest
description: Share in an adventure to appreciate writing SVG syntax "by hand".
date: 2023-07-06T11:11:11
---

I have a preference, a tendency for writing SVG syntax "by hand", in a code editor rather than a graphic's program.
