---
title: Jot down
description: Type letters caring little how.
date: 2024-06-07
---

<script>
  import SQLPrompt from "./SQLPrompt.svelte";
</script>

```html
<typewriter-effect>is production ready</typewriter-effect>
```

<SQLPrompt />
