{% extends "layout/base.njk" %}

  {% block content %}
<nav>
      <a href="/">
        borntofrappe
        {{ icons.rocket | safe }}
      </a>
    </nav>

    <header>
    <h1>
      {{ title }}
    </h1>
  </header>

  <main>
  {{ content | safe}}
  </main>


    {% endblock %}
