---
title: Bold display
description: Excuse another web component.
date: 2024-06-17
---

<script>
	import text from './text.js';
	import Display from './Display.svelte';
</script>

<Display text={text['hieroglyphs']} />

<Display text={text['spaceship']} />

<Display text={text['world']} />
