---
title: SVG canvas
description: Draw with canvas and SVG.
date: 2023-04-04 10:13:33
---

<script>
	import Canvas from './Canvas.svelte';
	import SVG from './SVG.svelte';
</script>

On the web the `<canvas>` element might be the most obvious choice to create a drawing app. That being said, the `<svg>` element offers a few entertaining possibilities.

<Canvas />

<SVG />
