@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: hsl(280, 40%, 10%);
  background: hsl(35, 45%, 98%);
  font-family: "Fira Code", monospace;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}
body::-webkit-scrollbar-track {
  background: currentColor;
}
body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: hsl(340, 80%, 55%);
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: initial;
  }
}
