@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* two values for the color and background to tinker with light/dark mode */
body {
  color: hsl(280, 40%, 10%);
  background: hsl(35, 45%, 98%);
  font-family: "Fira Code", monospace;
}
