<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <!-- switch to "light" or "dark" for a different color palette -->
  <body data-preference="light">
    <main>
      <h2>Unordered</h2>
      <ul>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
          saepe nihil facilis?
        </li>
        <li>
          Quod aspernatur vel, eos fugiat optio pariatur adipisci ab facilis
          officia sapiente?
        </li>
        <li>
          Sint beatae vel iusto pariatur laudantium ratione quod, qui id est
          eius?
        </li>
      </ul>

      <hr />

      <h2>Ordered</h2>
      <ol>
        <li>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam
          architecto unde nisi!
        </li>
        <li>
          Fugiat cum sapiente laudantium sequi doloribus facilis praesentium
          doloremque perferendis reiciendis deserunt?
        </li>
        <li>
          Enim nesciunt optio officia ut earum delectus totam impedit sint ex
          magni!
        </li>
      </ol>

      <hr />

      <h2>Unordered with nesting</h2>
      <ul>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione,
          accusamus.
        </li>
        <li>
          Perferendis ducimus rerum laudantium praesentium numquam eos. Autem,
          numquam incidunt.
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Voluptatem maiores molestiae officia expedita.</li>
            <li>
              Perferendis sit mollitia numquam fuga?
              <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Voluptatem maiores molestiae officia expedita.</li>
                <li>Perferendis sit mollitia numquam fuga?</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus,
          non.
        </li>
      </ul>

      <hr />

      <h2>Ordered with nesting</h2>
      <ol>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione,
          accusamus.
        </li>
        <li>
          Perferendis ducimus rerum laudantium praesentium numquam eos. Autem,
          numquam incidunt.
          <ol>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Voluptatem maiores molestiae officia expedita.</li>
            <li>
              Perferendis sit mollitia numquam fuga?
              <ol>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Voluptatem maiores molestiae officia expedita.</li>
                <li>Perferendis sit mollitia numquam fuga?</li>
                <li>Perferendis sit mollitia numquam fuga?</li>
                <li>Perferendis sit mollitia numquam fuga?</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus,
          non.
        </li>
      </ol>
    </main>
  </body>
</html>
