/* flex properties to push the elements below the viewport
margin-top: auto on the section as well
*/
body {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
}

section {
  max-width: 32rem;
  margin: 1rem auto;
  margin-top: auto;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  font-size: 1.2rem;
  font-size: calc(1rem + (1.2 - 1) * (100vw - 40rem) / (75 - 40));
}

@media (min-width: 75rem) {
  section {
    font-size: 1.2rem;
  }
}

@media (max-width: 40rem) {
  section {
    font-size: 1rem;
  }
}

section > * + * {
  margin-top: 1rem;
}
section h2 {
  font-size: 2em;
}
section p {
  font-size: 1em;
  text-align: flex-start;
  line-height: 1.75;
  font-family: "Source Code Pro", monospace;
}

section mark {
  background: var(--primary-10);
}
section svg {
  width: 90%;
  height: auto;
}

section svg .rotate {
  animation: rotate 200s linear infinite;
  animation-play-state: paused;
}
section.observed svg .rotate {
  animation-play-state: running;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
