body {
  padding-top: 150vh;
}

article {
  max-width: 40rem;
  margin: 1rem auto;
  margin-top: auto;
  width: 90vw;
}

/*
  [40 - 75]rem width
  [1 - 1.2]rem font-size
*/
article {
  font-size: 1.2rem;
  font-size: calc(1rem + (1.2 - 1) * (100vw - 40rem) / (75 - 40));
}

@media (min-width: 75rem) {
  article {
    font-size: 1.2rem;
  }
}

@media (max-width: 40rem) {
  article {
    font-size: 1rem;
  }
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article > * + * {
  margin-top: 0.4em;
}

article h2 {
  font-size: 2em;
}

article p:first-of-type {
  margin-top: 1em;
}

article p {
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  line-height: 1.75;
  word-spacing: -0.2em;
  letter-spacing: -0.03em;
  align-self: flex-start;
}

article mark {
  background: none;
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  letter-spacing: initial;
}

article > svg {
  color: hsl(340, 90%, 55%);
  color: var(--primary-6);
  max-width: 30rem;
  width: 90%;
  height: auto;
}

article > svg .rotate {
  animation: rotate 200s linear infinite;
  animation-play-state: paused;
}

article > svg.observed .rotate {
  animation-play-state: running;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
