---
title: Bubble up
description: Bring to the surface more than silly emotions.
date: 2024-04-08
---

<script>
	import ZdogMonday from '$lib/components/blog/ZdogMonday.svelte';
	
	import TapTheGlass from './TapTheGlass.svelte';
</script>

<TapTheGlass />

<ZdogMonday />
