<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="../../Meta Tags/static/icon.svg" />
    <link rel="icon" type="image/png" sizes="16x16" href="../../Meta Tags/static/icon-16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../Meta Tags/static/icon-32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../Meta Tags/static/apple-touch-icon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Maven+Pro:wght@500;600;700&family=Source+Code+Pro&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>CSS Animation Paused</h1>
    </header>

    <header>
      <h1>CSS Animation Paused</h1>
      <h2 class="visually-hidden">Tags</h2>
      <ul>
        <li>
          <span class="visually-hidden">css</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <path fill="currentColor" d="M-40.002-50l5.005 85.002 35 15.002 35.001-15.002L40.01-50h-80.002zM-26-32.5h52.002l-3.25 55.263L0 32.516l-22.75-9.753-.651-11.05h11.05l.325 5.524 12.027 5.2 12.026-5.2.977-16.574h-37.049l-.646-11.05h38.358l.65-11.055h-39.643l-.65-11.05z" />
          </svg>
        </li>
      </ul>
    </header>

    <header>
      <h1>CSS Animation Paused</h1>
      <h2 class="visually-hidden">Tags</h2>
      <ul>
        <li>
          <span class="visually-hidden">css</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <path fill="currentColor" d="M-40.002-50l5.005 85.002 35 15.002 35.001-15.002L40.01-50h-80.002zM-26-32.5h52.002l-3.25 55.263L0 32.516l-22.75-9.753-.651-11.05h11.05l.325 5.524 12.027 5.2 12.026-5.2.977-16.574h-37.049l-.646-11.05h38.358l.65-11.055h-39.643l-.65-11.05z" />
          </svg>
        </li>
        <li>
          <span class="visually-hidden">svg</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <g fill="currentColor" stroke="currentColor" stroke-width="8">
              <path d="M 0 0 v 36 a 5 5 0 0 1 0 10 5 5 0 0 1 0 -10 v -72 a 5 5 0 0 1 0 -10 5 5 0 0 1 0 10" />
              <path transform="rotate(45)" d="M 0 0 v 36 a 5 5 0 0 1 0 10 5 5 0 0 1 0 -10 v -72 a 5 5 0 0 1 0 -10 5 5 0 0 1 0 10" />
              <path transform="rotate(90)" d="M 0 0 v 36 a 5 5 0 0 1 0 10 5 5 0 0 1 0 -10 v -72 a 5 5 0 0 1 0 -10 5 5 0 0 1 0 10" />
              <path transform="rotate(135)" d="M 0 0 v 36 a 5 5 0 0 1 0 10 5 5 0 0 1 0 -10 v -72 a 5 5 0 0 1 0 -10 5 5 0 0 1 0 10" />
            </g>
          </svg>
        </li>
      </ul>
    </header>

    <header>
      <h1>CSS Animation Paused</h1>
      <h2 class="visually-hidden">Tags</h2>
      <ul>
        <li>
          <span class="visually-hidden">html</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <path fill="currentColor" d="M-40.002-50l5.004 85L.001 50.001l34.998-15.003L40.003-50h-80.007zm14.003 17.5h52l-.65 11.049h-39.649l.651 11.054H24.7L22.751 22.75 0 32.503l-22.75-9.752-.65-11.05h11.049l.325 5.525 12.026 5.2 12.026-5.2.977-16.574H-24.05L-25.998-32.5z" />
          </svg>
        </li>
        <li>
          <span class="visually-hidden">css</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <path fill="currentColor" d="M-40.002-50l5.005 85.002 35 15.002 35.001-15.002L40.01-50h-80.002zM-26-32.5h52.002l-3.25 55.263L0 32.516l-22.75-9.753-.651-11.05h11.05l.325 5.524 12.027 5.2 12.026-5.2.977-16.574h-37.049l-.646-11.05h38.358l.65-11.055h-39.643l-.65-11.05z" />
          </svg>
        </li>
        <li>
          <span class="visually-hidden">js</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <path
              fill="currentColor"
              d="M-50-50V50.8h38.4c-8.88 0-16.08-7.2-16.08-16.08v-5.04h10.08v5.04c0 3.36 2.64 6 6 6s6-2.64 6-6V.88H4.48v33.84c0 8.88-7.2 16.08-16.08 16.08H9.52V40.72H24.64c2.88 0 5.04-2.208 5.04-5.04s-2.184-5.04-5.04-5.04c-8.4 0-15.12-6.72-15.12-15.12S16.24.4 24.64.4h13.2v10.08h-13.2c-2.88 0-5.04 2.208-5.04 5.04s2.184 5.04 5.04 5.04c8.4 0 15.12 6.72 15.12 15.12S33.04 50.8 24.64 50.8h24V-50h-100.8z"
            />
          </svg>
        </li>
        <li>
          <span class="visually-hidden">svg</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <g fill="currentColor" stroke="currentColor" stroke-width="8">
              <path d="M 0 0 v 36 a 5 5 0 0 1 0 10 5 5 0 0 1 0 -10 v -72 a 5 5 0 0 1 0 -10 5 5 0 0 1 0 10" />
              <path transform="rotate(45)" d="M 0 0 v 36 a 5 5 0 0 1 0 10 5 5 0 0 1 0 -10 v -72 a 5 5 0 0 1 0 -10 5 5 0 0 1 0 10" />
              <path transform="rotate(90)" d="M 0 0 v 36 a 5 5 0 0 1 0 10 5 5 0 0 1 0 -10 v -72 a 5 5 0 0 1 0 -10 5 5 0 0 1 0 10" />
              <path transform="rotate(135)" d="M 0 0 v 36 a 5 5 0 0 1 0 10 5 5 0 0 1 0 -10 v -72 a 5 5 0 0 1 0 -10 5 5 0 0 1 0 10" />
            </g>
          </svg>
        </li>
        <li>
          <span class="visually-hidden">html</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <path fill="currentColor" d="M-40.002-50l5.004 85L.001 50.001l34.998-15.003L40.003-50h-80.007zm14.003 17.5h52l-.65 11.049h-39.649l.651 11.054H24.7L22.751 22.75 0 32.503l-22.75-9.752-.65-11.05h11.049l.325 5.525 12.026 5.2 12.026-5.2.977-16.574H-24.05L-25.998-32.5z" />
          </svg>
        </li>
        <li>
          <span class="visually-hidden">node</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <g fill="none" stroke="currentColor" stroke-width="8" stroke-linejoin="round" stroke-linecap="round">
              <path d="M -25 33 l -18 -9 v -48 l 44 -22 44 22 v 48 l -44 22 -7 -3.5" />
              <path d="M -14 -19 v 42.5 a 10 10 0 0 1 -10 10" />
              <path d="M 24 -9 a 10 10 0 0 0 -20 0 10 10 0 0 0 10 10 10 10 0 0 1 10 10 10 10 0 0 1 -20 0" />
            </g>
          </svg>
        </li>
        <li>
          <span class="visually-hidden">d3</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <g fill="currentColor">
              <path
                d="M-6.28-45A54.667 54.667 0 0111.8-25h10.7c4.261 0 7.5 3.239 7.5 7.5S26.761-10 22.5-10h-5.451C17.664-6.755 18-3.416 18 0s-.336 6.755-.951 10H22.5c4.261 0 7.5 3.239 7.5 7.5S26.761 25 22.5 25H11.8A54.599 54.599 0 01-6.28 45H22.5C37.57 45 50 32.57 50 17.5c0-6.656-2.521-12.72-6.527-17.5C47.48-4.783 50-10.84 50-17.5 50-32.57 37.57-45 22.5-45H-6.28z"
              />
              <path d="M-50-45v20h10c13.93 0 25 11.07 25 25s-11.07 25-25 25h-10v20h10C-15.27 45 5 24.73 5 0s-20.27-45-45-45z" />
            </g>
          </svg>
        </li>
        <li>
          <span class="visually-hidden">react</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <g fill="none" stroke="currentColor" stroke-width="8">
              <ellipse transform="rotate(30)" rx="18" ry="46" />
              <ellipse transform="rotate(-30)" rx="18" ry="46" />
              <ellipse transform="rotate(90)" rx="18" ry="46" />
            </g>
            <circle r="8" fill="currentColor" />
          </svg>
        </li>
        <li>
          <span class="visually-hidden">svelte</span>
          <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
            <g transform="rotate(-30)">
              <g fill="none" stroke="currentColor" stroke-width="10" stroke-linejoin="round" stroke-linecap="round">
                <path d="M 30 -10 h -30 h 8 a 21 21 0 0 1 0 42 h -37 a 21 21 0 0 1 0 -42" />
                <path transform="scale(-1 -1)" d="M 30 -10 h -30 h 8 a 21 21 0 0 1 0 42 h -37 a 21 21 0 0 1 0 -42" />
              </g>
            </g>
          </svg>
        </li>
      </ul>
    </header>
  </body>
</html>
