---
title: Dragon Quest V
description: .....ch.....ng..... Wi.....?
date: 2024-03-31T5:53:22
---

<script>
	import Slime from './Slime.svelte';
	import EvilTalk from './EvilTalk.svelte';
</script>

<Slime />

<div class="center-frame" data-size="medium">
	<EvilTalk />
</div>
