---
title: Filter highlight
description: Pull off a fairly flexible feature with fairly advanced SVG syntax.
date: 2024-05-13
---

<script>
	import TextHighlight from './TextHighlight.svelte';
</script>

<TextHighlight />

Background for `text` elements.
