---
title: Luna loop
description: Consider a luna park attraction.
date: 2024-01-29
---

<script>
	// import ZdogMonday from '$lib/components/blog/ZdogMonday.svelte';
	
	import TicketBooth from './TicketBooth.svelte';
	import Carousel from './Carousel.svelte';
</script>

<figure class="[ center-frame ]" data-size="small">
    <TicketBooth />
</figure>

<div class="[ center-frame ]" style="--frame-size: 400px;">
    <Carousel />
</div>
