---
title: Startling discoveries
description: SVG and CSS supporting a small sensitive button.
date: 2024-02-28
---

<script>
	import svg from './svg.js';
	import Button from './Button.svelte';
</script>

<figure class="center-frame" data-size="small">
	{@html svg['path']}
</figure>

<figure class="center-frame" data-size="small">
	{@html svg['animation']}
</figure>

<Button />
