hr:not([class]) {
  color: inherit;
  block-size: 2em;
  border: none;
  background: currentColor;
  background: oklch(from currentColor l c h / 0.5);
  -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-841.46 -35.72 1682.91 78.21"><path fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" d="M 0 19 C -21.17 29.12 -21.17 29.12 -18.08 5.87 C -34.24 -11.13 -34.24 -11.13 -11.17 -15.38 C -0.01 -36 -0.01 -36 11.16 -15.38 C 34.23 -11.13 34.23 -11.13 18.07 5.87 C 21.16 29.12 21.16 29.12 0 19" /><path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.5" d="M -839 0 -60 0 M 60 0 839 0" /></svg>');
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-841.46 -35.72 1682.91 78.21"><path fill="black" stroke="black" stroke-linecap="round" stroke-linejoin="round" d="M 0 19 C -21.17 29.12 -21.17 29.12 -18.08 5.87 C -34.24 -11.13 -34.24 -11.13 -11.17 -15.38 C -0.01 -36 -0.01 -36 11.16 -15.38 C 34.23 -11.13 34.23 -11.13 18.07 5.87 C 21.16 29.12 21.16 29.12 0 19" /><path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.5" d="M -839 0 -60 0 M 60 0 839 0" /></svg>');
  -webkit-mask-position: 50% 50%;
  mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

p:not([class]) > code {
  color: var(--text-code);
  background: var(--surface-code);
  display: inline-block;
  padding: 1px var(--space-2xs);
  border-radius: var(--space-2xs);
}

table:not([class]) {
  color: var(--text-1);
  background: var(--surface-1);
  border: 3px solid var(--surface-3);
  table-layout: fixed;
  inline-size: 100%;
  border-collapse: collapse;

  thead th {
    font-weight: 400;
    text-transform: capitalize;
    padding: var(--space-2xs);
  }

  tbody td {
    padding: var(--space-2xs) var(--space-s);
  }

  tbody tr:nth-of-type(odd) td {
    background: var(--surface-2);
  }
}

:is(main, article, section, div, figure):has(> table:not([class])) {
  padding: 0;
  color: var(--text-1);
  background: var(--surface-1);
  border: 3px solid var(--surface-3);
  border-radius: var(--space-s);

  table:not([class]) {
    color: inherit;
    background: none;
    border: none;

    tbody tr:last-of-type td:first-of-type {
      border-end-start-radius: var(--space-s);
    }

    tbody tr:last-of-type td:last-of-type {
      border-end-end-radius: var(--space-s);
    }
  }
}
