---
title: A longer affair
description: Prolonging the summer fling with game development. With love.
date: 2024-09-04
---

<script>
	import svg from './svg.js'
</script>

[Port](https://github.com/borntofrappe/gg/blob/main/fleeting-love.zip) of pico adventure for the Love2D open source engine.

<figure class="[ center-frame ]">
	{@html svg['fleeting-love']}
</figure>
