---
title: Guiding light
description: Remark on the influence of a bright source of energy.
date: 2024-01-08T14:36:04
---

<script>
	import Center from '$lib/components/blog/Center.svelte';
	import ZdogMonday from '$lib/components/blog/ZdogMonday.svelte';

	import Lodestar from './Lodestar.svelte';
</script>

<Center maxInlineSize="700px">
  <Lodestar />
</Center>

<ZdogMonday />
