---
permalink: 404.html
---
{% set hasContent = true %}
{% set title = site.name + "/404" %}
{% set description = "HTTP Status Code 404 — Page not found" %}

{% extends "layouts/base.njk" %}

{% block style %}
  {% include "css/404.css" %}
{% endblock %}

{% block content %}
<header>
  <h1>Page not found</h1>
  <p>I've looked for it carefully. Promise.</p>
</header>

<main id="content">
  <p>
    It seems you've stumbled upon a missing page. If you think there should
    be one, please
    <a
      target="_blank"
      href="mailto:borntofrappe@gmail.com?subject=404%20—%20Page%20not%20found"
      >send me an email</a
    >
    at borntofrappe@gmail.com.
  </p>
  <p>
    If you need some guidance,
    <em>home is always a good place to start</em>.
  </p>
  <a href="/" class="relative">Go to landing page</a>
</main>
{% endblock %}