{% set hasContent = true %}
{% set title = site.name + "/blog" %}
{% set description = "A series of articles from a wannabe author. On HTML, CSS, JavaScript, SVG, and hopefully more." %}

{% extends "layouts/base.njk" %}

{% block style %}
  {% include "css/blog.css" %}
{% endblock %}

{% block content %}
<header>
<h1>Jotting things down</h1>
<p>I build, I learn, I write. Not necessarily in that order.</p>
</header>

<main id="content">
  {%- for post in collections.blog %}
  <article>
    <h2>
      <a href="{{post.url}}">
        {{ post.data.title }}
      </a>
    </h2>

    <time datetime="{{post.date}}">
      {{- post.date | dateFilter -}}
    </time>

    <p>
    {{- post.data.description -}}
    </p>
  </article>
  {% endfor -%}
</main>
{% endblock %}