<head>
<title>coming soon: 2020-05-20</title>
</head>

<style>
    div {
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    div > * + * {
        margin-left: 0.75rem;
    }
    a {
        display: flex;
        align-items: center;
        font-family: "Source Code Pro", monospace;
    }
    a svg {
        margin-left: 0.5rem;
    }
</style>
<div>
{%- for link in links %}
    {% if loop.index0 %}
        <a href="{{link.href}}">
            {{link.name}}{{icons[link.name] | safe}}
        </a>
    {% endif -%}
{% endfor -%}
</div>