<h1>borntofrappe</h1>

<p>Almost ready to launch {{icons.rocket | replace("1em", "42") | safe }}</p>

{%- for color in colors.primary %}
<svg viewBox="0 0 50 50" width="50" height="50">
  <rect width="50" height="50" fill="{{color}}" />
</svg>
{%- endfor %}

<ul>
{%- for link in links %}
<a href="{{link.href}}">{{link.name}}</a>
{%- endfor %}
</ul>