<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>breadcrumbs</title>
    <link rel="stylesheet" href="../global.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="../../Static/icon.svg" />
    <link rel="icon" type="image/png" sizes="16x16" href="../../Static/icon-16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../Static/icon-32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../Static/apple-touch-icon.png" />
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:500,600,700|Fira+Code|Hind+Madurai:400,400i,700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <nav aria-label="Breadcrumb navigation">
      <a href="/">
        borntofrappe
        <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
          <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round">
            <g transform="rotate(45)">
              <path stroke-width="8" d="M -0 -46 q 23 15 23 52 v 10 a 8 8 0 0 1 -8 8 h -30 a 8 8 0 0 1 -8 -8 v -10 q 0 -37 23 -52" />
              <g stroke-width="7">
                <path d="M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21" />
                <path transform="scale(-1 1)" d="M 23 6 h 2 a 12 12 0 0 1 12 12 v 6 h -21" />
                <path d="M 0 24 c -10 5 -12 16 0 22.5 c 12 -6.5 10 -17.5 0 -22.5" />
                <circle r="9" cy="-11" />
              </g>
            </g>
          </g>
        </svg>
      </a>
      <a href="/blog">
        / blog
        <svg aria-hidden="true" aria-focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-50 -50 100 100" width="1em" height="1em">
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <g stroke-width="8">
              <path d="M -26 -19 h -20 v -6 a 12 12 0 0 1 24 0 v 50 a 12 12 0 0 0 24 0 v -5 h 44 v 5 a 12 12 0 0 1 -12 12 h -44 a 12 12 0 0 1 -12 -12" />
              <path d="M -34 -37 h 44 a 12 12 0 0 1 12 12 v 45 h -20 v 5 a 12 12 0 0 1 -24 0 v -50 a 12 12 0 0 0 -12 -12" />
            </g>
            <g stroke-width="6">
              <path d="M -10 -20 h 20" />
              <path d="M -10 -8 h 10" />
              <path d="M -10 4 h 15" />
              <path d="M -10 16 h 5" />
            </g>
          </g>
        </svg>
      </a>
      <a href="/blog/css-animation-paused">
        / css-animation-paused
      </a>
    </nav>
  </body>
</html>
