nav {
  max-width: 42em;
  width: 90vw;
  margin: 0 auto;
  padding: 0.5rem 0;
}
nav a {
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0;
}
nav a svg {
  margin: 0 0.2rem 0 0.4rem;
  width: 1.5em;
  height: auto;
}
