---
title: Up to date attributes
description: Synchronize web components in element and class.
date: 2024-03-15
---

<script>
	import OutOfSync from './OutOfSync.svelte';
	import UpToDate from './UpToDate.svelte';
	import RandomNumberGenerator from './RandomNumberGenerator.svelte';
</script>

<OutOfSync />

<UpToDate />

<RandomNumberGenerator />
