---
title: Code breakthrough
description: Tap into JavaScript to unlock new dimensions and fuel a few features.
date: 2023-06-15T:21:21:21
---

<script>
	import Center from '$lib/components/blog/Center.svelte';

	import svg from './svg.js';
</script>

<Center element="figure" maxInlineSize="30rem">
    {@html svg['folder']}
</Center>
