main {
  width: 90vw;
  max-width: 35em;
  line-height: 2;
  margin: 2rem auto 4rem;
  /* flex to center the blockquote */
  display: flex;
  flex-direction: column;
}
main > * + * {
  margin-top: 2rem;
}

blockquote {
  align-self: center;
  display: inline-block;
  border-radius: 0.4rem;
  font-style: italic;
  padding: 0.5rem 2.5rem;
  color: hsl(350, 100%, 8%);
  color: var(--accent-0);
  background: hsl(330, 100%, 92%);
  background: var(--accent-10);
  position: relative;
}

blockquote::before,
blockquote::after {
  content: "";
  background: hsl(340, 90%, 55%);
  background: var(--accent-6);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' aria-focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='1em' height='1em'%3E%3Cg fill='currentColor' stroke-width='10' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round'%3E%3Cpath d='M -23 -27 c -20 8 -37.5 72 0 72 a 16 16 0 0 0 0 -32 c -20 0 -15 -35 0 -40' /%3E%3Cpath d='M 29 -45 c -20 8 -37.5 72 0 72 a 16 16 0 0 0 0 -32 c -20 0 -15 -35 0 -40' /%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' aria-focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' width='1em' height='1em'%3E%3Cg fill='currentColor' stroke-width='10' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round'%3E%3Cpath d='M -23 -27 c -20 8 -37.5 72 0 72 a 16 16 0 0 0 0 -32 c -20 0 -15 -35 0 -40' /%3E%3Cpath d='M 29 -45 c -20 8 -37.5 72 0 72 a 16 16 0 0 0 0 -32 c -20 0 -15 -35 0 -40' /%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  left: 0%;
  top: 0%;
  transform: translate(-50%, -50%);
}

blockquote::after {
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%) scale(-1);
}
